<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青果文化-环境文化</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="cyanine-container">
    <!--header-->
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-tit"></div>
            <ul class="header-ul">
                <li>
                    <a href="home.html">
                        <img src="images/head1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="teach.html">
                        <img src="images/head2.png" alt="">
                    </a>
                </li>
                <li class="logo">
                    <img src="images/logo.png" alt="" class="header-logo">
                </li>
                <li>
                    <a href="culture-idea.html">
                        <img src="images/head3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="trends.html">
                        <img src="images/head4.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--header end-->
    <!--面包屑-->
    <div class="crumbs">
        当前位置 ：<span>青蓝果文化</span>><span>食育文化</span>
    </div>
    <!--面包屑 end-->
    <!--内容-->
    <div class="culture-container">
        <div class="culture-tit"></div>
        <div class="culture-con-content">
            <div class="culture-nav">
                <ul>
                    <li>
                        <a href="culture-idea.html">园所理念</a>
                    </li>
                    <li>
                        <a href="culture-vision.html">视觉形象</a>
                    </li>
                    <li>
                        <a href="culture-ambient.html">环境文化</a>
                    </li>
                    <li>
                        <a href="culture-food.html"  class="active">食育文化</a>
                    </li>
                </ul>
            </div>
            <div class="culture-food">
                <div class="culture-food-con">
                   <ul>
                       <li class="culture-food-tit">
                           <img src="images/food-tit.jpg" alt="">
                       </li>
                       <li class="culture-food-start">
                           <div class="culture-food-img">
                               <img src="images/time1.png" alt="" class="time">
                               <img src="images/food.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>入院</span>
                                   <span>7:20</span>
                               </div>
                               <p>小朋友入园后老师班前准备，接待幼儿；严细晨检，做好服药等记录。</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time2.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>早餐</span>
                                   <span>7:50</span>
                               </div>
                               <p>老师整理晨检记录及晨检交接，</p>
                               <p>配合组织幼儿早餐，点名及教学准备</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time3.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>区域活动</span>
                                   <span>8:30</span>
                               </div>
                               <p>老师组织幼儿区域教育活动，做好观察指导</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time4.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>户外活动</span>
                                   <span>10:00</span>
                               </div>
                               <p>老师组织幼儿户外活动</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time5.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>午餐</span>
                                   <span>11:10</span>
                               </div>
                               <p>老师组织幼儿餐后活动、散步午检、睡前准备</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time6.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>午睡</span>
                                   <span>12:00</span>
                               </div>
                               <p>老师看睡，每隔15分钟巡视一次；备课</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time7.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>起床</span>
                                   <span>14:00</span>
                               </div>
                               <p>老师组织起床、组织幼儿整理床铺、抬床、喝水、梳头</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time8.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>教育活动</span>
                                   <span>14:20</span>
                               </div>
                               <p>老师组织幼儿教育活动。</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time9.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>户外活动</span>
                                   <span>15:00</span>
                               </div>
                               <p>老师进行教学整理、备课，准备第二天的教具等</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time10.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>下午茶</span>
                                   <span>15:40</span>
                               </div>
                               <p>老师组织幼儿午点前准备、午点</p>
                           </div>
                       </li>
                       <li>
                           <img src="images/time11.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food2.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>户外活动</span>
                                   <span>16:00</span>
                               </div>
                               <p>老师组织幼儿离园前活动</p>
                           </div>
                       </li>
                       <li class="culture-food-end">
                           <img src="images/time12.png" alt="" class="time">
                           <div class="culture-food-img">
                               <img src="images/food.jpg" alt="" class="food-img-inner">
                           </div>
                           <div class="food-item-text">
                               <div class="food-item-time">
                                   <span>离园</span>
                                   <span>16:20</span>
                               </div>
                               <p>老师组织幼儿离园；一日活动及教学整理。</p>
                           </div>
                       </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <!--内容 end-->
    <!--footer-->
    <div class="footer-container">
        <div class="footer-pos"></div>
        <div class="footer-bg">
            <div class="footer-top">
                <img src="images/top.png" alt="">
            </div>
            <div class="footer-inner">
                <div class="footer-logo">
                    <img src="images/footer-logo.png" alt="">
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer1.png" alt="">
                            </a>
                            <span>中心园</span>
                            <span>王舍园</span>
                            <span>南家园</span>
                            <span>芳草园</span>
                            <span>颐丰园</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer2.png" alt="">
                            </a>
                            <span>传统文化</span>
                            <span>探究空间</span>
                            <span>健康领动</span>
                            <span>艺术创想</span>
                            <span>社会链接</span>
                            <span>师资力量</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer3.png" alt="">
                            </a>
                            <span>园所理念</span>
                            <span>视觉形象</span>
                            <span>环境文化</span>
                            <span>食育文化</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer4.png" alt="">
                            </a>
                            <span>园所快报</span>
                            <span>健康护航</span>
                            <span>金色时光</span>
                            <span>最美芳华</span>
                            <span>为爱同行</span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer-d">copyright@kinglengo</p>
        </div>
    </div>
    <!--footer end-->
</div>

</body>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/main.js"></script>
</html>