<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青果文化-园所理念</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="cyanine-container">
    <!--header-->
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-tit"></div>
            <ul class="header-ul">
                <li>
                    <a href="home.html">
                        <img src="images/head1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="teach.html">
                        <img src="images/head2.png" alt="">
                    </a>
                </li>
                <li class="logo">
                    <img src="images/logo.png" alt="" class="header-logo">
                </li>
                <li>
                    <a href="culture-idea.html">
                        <img src="images/head3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="trends.html">
                        <img src="images/head4.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--header end-->
    <!--面包屑-->
    <div class="crumbs">
        当前位置 ：<span>青蓝果文化</span>><span>视觉形象</span>
    </div>
    <!--面包屑 end-->
    <!--内容-->
    <div  class="culture-container">
        <div class="culture-tit"></div>
        <div class="culture-con-content">
            <div class="culture-nav">
                <ul>
                    <li>
                        <a href="culture-idea.html">园所理念</a>
                    </li>
                    <li>
                        <a href="culture-vision.html"  class="active">视觉形象</a>
                    </li>
                    <li>
                        <a href="culture-ambient.html">环境文化</a>
                    </li>
                    <li>
                        <a href="culture-food.html">食育文化</a>
                    </li>
                </ul>
            </div>
            <div class="culture-idea-con">
                <div class="culture-idea-left">
                    <div class="culture-idea-tit">
                        <img src="images/idea-tit.jpg" alt="">
                    </div>
                    <div class="culture-idea-nav culture-vision-nav">
                        <ul class="culture-item-nav">
                            <li><a flag="item1"  href="javascript:;" class="active">标志</a></li>
                            <li><a flag="item2" href="javascript:;">吉祥物</a></li>
                            <li><a flag="item3" href="javascript:;">园服</a></li>
                        </ul>
                    </div>
                </div>
                <div class="culture-idea-right">
                    <div class="culture-idea-items" id="item1">
                        <div class="idea-items-tit"><i></i>标志</div>
                        <div class="idea-items-con vision-items-con">
                            <div class="idea-items-img">
                                <img src="images/vis1.jpg" alt="">
                            </div>
                            <p>鸟作为一种古老的生物，自古鸟便与太阳和长生联系，象征着人类心灵的光芒，包含着敬仰 和崇拜的归属。鸟类也代表着灵性、自由、聪慧、生命力，以鸟来寓意儿童，代表青蓝果寄予他们的美好期望。</p>
                            <p>三种图形搭配组合成为一个坚实的房屋轮廓，象征青蓝果幼教集团，一个团结、融合、永远积极向上的教职工团体，探求真理的目标提升自我，严谨求实的态度陪伴儿童成长，敬业爱岗的精神建立最优质先进的幼儿教育体系。</p>
                        </div>
                    </div>
                    <div class="culture-idea-items" id="item2">
                        <div class="idea-items-tit"><i></i>吉祥物</div>
                        <div class="idea-items-con vision-items-con">
                            <div class="idea-items-img">
                                <img src="images/vis2.jpg" alt="">
                            </div>
                            <p>三只体态各异的小鸟分别对应着不同阶段的孩子们，黄色的雏鸟，围着肚兜，还未发育完全 的羽冠和翅膀扑棱着，懵懂未知的眼睛张望着世界，它就像新入园的小班的孩子们；蓝色的小鸟，带着领结，羽冠挺立，翅膀舒展，自信大方，有着旺盛的求知欲和探索欲，它就像已经适应幼儿园并自然成长的中班的孩子们；绿色的小鸟，系着领巾，带着眼镜，羽冠收起，翅膀长齐，汲取 了充足的养分，积蓄力量，准备着搏击长空，它就像逐渐长大即将离开的大班的孩子们，三种形态既方便幼儿园后期园区做具体区域或是其他层次划分的视觉标示，又可以隐喻孩子们在青蓝果的成长，从“本我”的自然驱动，到“自我”的洗礼，从而追求“超我”，让孩子们在个人意识与社会 意识中发现自我潜力，实现自我价值。</p>
                        </div>
                    </div>
                    <div class="culture-idea-items" id="item3">
                        <div class="idea-items-tit"><i></i>园服</div>
                        <div class="idea-items-con vision-items-con">
                            <div class="idea-items-img">
                                <img src="images/vis3.jpg" alt="">
                            </div>
                            <div class="vision-clothes">冬季正装</div>
                            <p>男生为针织衫、长裤，女生为针织衫、百褶裙，颜色为“松柏绿”，配合黑色，针织衫带米黄边纹， 平衡了颜色的清爽感，多了秋冬的温暖与厚重气息。上衣两边装饰以浅兜，上面添加青蓝果品牌主图形——正方形、三角形、圆形，潜移默化加深对青蓝果的品牌认知度。</p>
                            <div class="vision-clothes vision-clothes-sport">冬季运动服</div>
                            <p>服装灵感来自“棒球服”，男女生统一为上衣、长裤，轻便舒适，简洁帅气。棒球服是棒球文化的 衍生品，主要发源于美国，注重竞技与智慧，强调团体意识，颜色与春夏运动装保持一致，沿用“松柏绿”与黑白色的搭配，青蓝果希望棒球文化可以让孩子们爱上运动的同时，又能培养他们的团队智慧与团队精神。</p>
                            <div class="idea-items-img" style="margin-top:50px;">
                                <img src="images/vis4.jpg" alt="">
                            </div>
                            <div class="vision-clothes">夏季正装</div>
                            <p>服装灵感来自“水手服”，男生为上衣、领带、短裤，女生为上衣、蝴蝶结、百褶裙，领子外缘是 直线形，领口呈V字形，简单又大方。青蓝果位于山东淄博，毗邻大海，水手服源自英国海军，代表着高贵与自由，青蓝果将这样的寓意送给孩子们，期望他们像海鸟一样，勇敢地穿梭在蓝天与大海之间。</p>
                            <div class="vision-clothes vision-clothes-sport">夏季运动服</div>
                            <p>服装灵感来自Polo衫，男女生统一为上衣、短裤，上衣立领且带门襟纽扣，整体质地轻巧，紧密 有弹性，便于运动。Polo衫原本是贵族打马球的时候所穿的服装，彰显着古典与优雅，颜色为“松柏绿”，配合黑色、白色，吸汗透气，耐磨耐脏，让孩子可以自由玩耍的同时，又不失高雅。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容 end-->
    <!--footer-->
    <div class="footer-container">
        <div class="footer-pos"></div>
        <div class="footer-bg">
            <div class="footer-top">
                <img src="images/top.png" alt="">
            </div>
            <div class="footer-inner">
                <div class="footer-logo">
                    <img src="images/footer-logo.png" alt="">
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer1.png" alt="">
                            </a>
                            <span>中心园</span>
                            <span>王舍园</span>
                            <span>南家园</span>
                            <span>芳草园</span>
                            <span>颐丰园</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer2.png" alt="">
                            </a>
                            <span>传统文化</span>
                            <span>探究空间</span>
                            <span>健康领动</span>
                            <span>艺术创想</span>
                            <span>社会链接</span>
                            <span>师资力量</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer3.png" alt="">
                            </a>
                            <span>园所理念</span>
                            <span>视觉形象</span>
                            <span>环境文化</span>
                            <span>食育文化</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer4.png" alt="">
                            </a>
                            <span>园所快报</span>
                            <span>健康护航</span>
                            <span>金色时光</span>
                            <span>最美芳华</span>
                            <span>为爱同行</span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer-d">copyright@kinglengo</p>
        </div>
    </div>
    <!--footer end-->
</div>

</body>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/main.js"></script>
<script src="js/scroll.js"></script>
</html>