<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青蓝果</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
<div class="cyanine-container">
    <!--header-->
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-tit"></div>
            <ul class="header-ul">
                <li>
                    <a href="home.html">
                        <img src="images/head1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="teach.html">
                        <img src="images/head2.png" alt="">
                    </a>
                </li>
                <li class="logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="" class="header-logo">
                    </a>
                </li>
                <li>
                    <a href="culture-idea.html">
                        <img src="images/head3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="trends.html">
                        <img src="images/head4.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--header end-->

    <!--banner-->
    <div class="cyanine-banner">
        <div class="banner-bg"></div>
        <div class="banner swiper-container">
            <div class="swiper-wrapper banner-wrapper">
                <div class="swiper-slide banner-slide blue-banner" style="width:820px;">
                    <div class="banner-inner">
                        <img src="images/banner1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide banner-slide yellow-banner" style="width:820px;">
                    <div class="banner-inner">
                        <img src="images/banner1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide banner-slide green-banner" style="width:820px;">
                    <div class="banner-inner">
                        <img src="images/banner1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide banner-slide orange-banner" style="width:820px;">
                    <div class="banner-inner">
                        <img src="images/banner1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination cyanine-pagination"></div>
        </div>
    </div>
    <!--banner end-->

    <!--main 1-->
    <div class="cyanine-main">
        <div class="cyaniane-home">
            <div class="home-inner">
                <div class="home-icons">
                    <img src="images/bor.png" alt="">
                </div>
                <div class="home-box">
                    <!--<img src="images/index-home.png" alt="">-->
                </div>
                <ul class="home-ul">
                    <li style="display: block;">
                        <img src="images/ho1.jpg" alt="">
                    </li>
                    <li>
                        <img src="images/ho2.jpg" alt="">
                    </li>
                    <li>
                        <img src="images/ho3.jpg" alt="">
                    </li>
                    <li>
                        <img src="images/ho4.jpg" alt="">
                    </li>
                    <li>
                        <img src="images/ho5.jpg" alt="">
                    </li>
                </ul>
            </div>
            <div class="home-con-text">
                青蓝果幼教集团原名为新华同力幼儿园，创建于1952年，隶属于新华同力公司，位于山东淄博。目前有一所总园和四所分园。集团秉承“倾听世界，发现自我”的办园理念，既注重中国传统文化的传承，又实践蒙台梭利教育和美国常青藤教育理念让儿童自然发展，让成长更有温度。
            </div>
            <div class="home-tab">
                <ul>
                    <li>
                        <img src="images/circe.png" alt="" class="tab-t active">
                        <div class="tab-imag">
                            <img src="images/h1.png" alt="">
                        </div>
                    </li>
                    <li>
                        <img src="images/circe.png" alt="" class="tab-t">
                        <div class="tab-imag">
                            <img src="images/h2.png" alt="">
                        </div>
                    </li>
                    <li>
                        <img src="images/circe.png" alt="" class="tab-t">
                        <div class="tab-imag">
                            <img src="images/h3.png" alt="">
                        </div>
                    </li>
                    <li>
                        <img src="images/circe.png" alt="" class="tab-t">
                        <div class="tab-imag">
                            <img src="images/h4.png" alt="">
                        </div>
                    </li>
                    <li>
                        <img src="images/circe.png" alt="" class="tab-t">
                        <div class="tab-imag">
                            <img src="images/h5.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--main 1 end-->

    <!--main 2-->
    <div class="cyanime-teach">
        <div class="teach-tit">
            <img src="images/jy.jpg" alt="">
        </div>
        <div class="teach-content">
            <ul>
                <li class="teach-tiem">
                    <img src="images/j1.png" alt="" class="teach-bg-img">
                    <span><a href="javascript:;">传统文化</a></span>
                </li>
                <li class="teach-tiem">
                    <img src="images/j2.png" alt="" class="teach-bg-img">
                    <span><a href="javascript:;">探究空间</a></span>
                </li>
                <li class="teach-tiem">
                    <img src="images/j3.png" alt="" class="teach-bg-img">
                    <span><a href="javascript:;">健康领动</a></span>
                </li>
                <li class="teach-tiem">
                    <img src="images/j4.png" alt="" class="teach-bg-img">
                    <span><a href="javascript:;">艺术创想</a></span>
                </li>
                <li class="teach-tiem">
                    <img src="images/j5.png" alt="" class="teach-bg-img">
                    <span><a href="javascript:;">社会链接</a></span>
                </li>
                <li class="teach-tiem">
                    <img src="images/j6.png" alt="" class="teach-bg-img">
                    <span><a href="javascript:;">师资力量</a></span>
                </li>
            </ul>
        </div>

    </div>
    <!--main 2 end-->

    <!--main 3  -->
    <div class="cyanime-culture">
        <img src="images/culture.jpg" alt="" class="culture-bg-img">
        <a href="javascript:;" class="culture-tit1 culture-tit-com"><img src="images/inicon1.png" alt=""></a>
        <a href="javascript:;" class="culture-tit2 culture-tit-com"><img src="images/inicon2.png" alt=""></a>
        <a href="javascript:;" class="culture-tit3 culture-tit-com"><img src="images/inicon3.png" alt=""></a>
        <a href="javascript:;" class="culture-tit4 culture-tit-com"><img src="images/inicon4.png" alt=""></a>
    </div>
    <!--main 3 end-->
    <!--main 4-->
    <div class="cyanime-trends">
        <div class="trends-tit">
            <img src="images/trends.png" alt="">
        </div>
        <div class="trends-content">
            <ul class="content-list">
                <li class="content-list-item">
                    <div class="trends-item-tit">园所快报</div>
                    <img src="images/line.png" alt="">
                    <div class="trends-message">
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <img src="images/new.png" alt="" class="newimg">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="content-list-item">
                    <div class="trends-item-tit">健康护航</div>
                    <img src="images/line.png" alt="">
                    <div class="trends-message">
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <img src="images/new.png" alt="" class="newimg">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="content-list-item">
                    <div class="trends-item-tit">金色时光</div>
                    <img src="images/line.png" alt="">
                    <div class="trends-message">
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <img src="images/new.png" alt="" class="newimg">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="content-list-item">
                    <div class="trends-item-tit">最美芳华</div>
                    <img src="images/line.png" alt="">
                    <div class="trends-message">
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <img src="images/new.png" alt="" class="newimg">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="content-list-item">
                    <div class="trends-item-tit">为爱同行</div>
                    <img src="images/line.png" alt="">
                    <div class="trends-message">
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <img src="images/new.png" alt="" class="newimg">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                        <div class="trends-message-item">
                            <a href="javascript:;">
                                <span class="trends-time">2018/8/2</span>
                                <span class="trends-text">儿童天性</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--main 4 end-->
    <!--footer-->
    <div class="footer-container">
        <div class="footer-pos"></div>
        <div class="footer-titp">
            <div class="footer-top">
                <img src="images/top.png" alt="">
            </div>
        </div>
        <div class="footer-bg">
            <div class="footer-inner">
                <div class="footer-logo">
                    <a href="index.html">
                        <img src="images/footer-logo.png" alt="">
                    </a>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer1.png" alt="">
                            </a>
                            <span><a href="javascript:;">中心园</a></span>
                            <span><a href="javascript:;">王舍园</a></span>
                            <span><a href="javascript:;">南家园</a></span>
                            <span><a href="javascript:;">芳草园</a></span>
                            <span><a href="javascript:;">颐丰园</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer2.png" alt="">
                            </a>
                            <span><a href="javascrip:;">传统文化</a></span>
                            <span><a href="javascrip:;">探究空间</a></span>
                            <span><a href="javascrip:;">健康领动</a></span>
                            <span><a href="javascrip:;">艺术创想</a></span>
                            <span><a href="javascrip:;">社会链接</a></span>
                            <span><a href="javascrip:;">师资力量</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer3.png" alt="">
                            </a>
                            <span><a href="javascript:;">园所理念</a></span>
                            <span><a href="javascript:;">视觉形象</a></span>
                            <span><a href="javascript:;">环境文化</a></span>
                            <span><a href="javascript;;">食育文化</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer4.png" alt="">
                            </a>
                            <span><a href="javascript:;">园所快报</a></span>
                            <span><a href="javascript:;">健康护航</a></span>
                            <span><a href="javascript:;">金色时光</a></span>
                            <span><a href="javascript:;">最美芳华</a></span>
                            <span><a href="javascript:;">为爱同行</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer-d">copyright@kinglengo</p>
        </div>
    </div>
    <!--footer end-->

</div>
</body>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/main.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: true,
        slidesPerView: 'auto',
        slidesOffsetBefore: 400,
        spaceBetween: 45,
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        }
    })
</script>
</html>
