<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青蓝果动态-模板</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="cyanine-container">
    <!--header-->
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-tit"></div>
            <ul class="header-ul">
                <li>
                    <a href="home.html">
                        <img src="images/head1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="teach.html">
                        <img src="images/head2.png" alt="">
                    </a>
                </li>
                <li class="logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="" class="header-logo">
                    </a>
                </li>
                <li>
                    <a href="culture-idea.html">
                        <img src="images/head3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="trends.html">
                        <img src="images/head4.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--header end-->
    <!--面包屑-->
    <div class="crumbs">
        当前位置 ：<span><a href="javascript:;">青蓝果动态</a></span>><span>健康护航</span>
    </div>
    <!--面包屑 end-->
    <!--内容-->
    <div class="trends-container">
        <div class="trends-con-tit common-tit">
            <div class="trends-title-img">
                <img src="images/d-tit.jpg" alt="">
            </div>
            <div class="trends-ul-list">
                <div class="ul-other-img">
                    <img src="images/dtj.jpg" alt="">      <!--健康护航-->
                    <img src="images/dto.jpg" alt="">      <!--金色时光-->
                    <img src="images/dts.jpg" alt="">      <!--社会链接-->
                    <img src="images/dty.jpg" alt="">      <!--园所快报-->
                    <img src="images/dtz.jpg" alt="">      <!--最美芳华-->
                </div>
                <ul>
                    <li><img src="images/top0.jpg" alt=""></li>
                    <li><img src="images/dc1.jpg" alt=""></li>
                    <li><img src="images/dc2.jpg" alt=""></li>
                    <li><img src="images/dc3.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="trends-health-container">
            <div class="health-con-list">
                <div class="health-con-tit">【小记者在行动】预防手足口 健康伴我行</div>
                <div class="health-con-time">2018/5/26</div>
                <!--第一栏-->
                <div class="health-con-item">
                    <div class="health-con-text">
                        <p>
                            孩子们在幼儿园的健康和安全，是老师们每天的首要工作。视频中可以看到，老师每天都会认真、规范的进行消毒工作，保证幼儿园环境的卫生、预防交叉感染；家长朋友也可以借鉴其中介绍的方法，照顾孩子在家中的饮食起居。预防手足口，十五字口诀大家要记牢哦：常洗手、勤开窗、喝开水、吃熟食、晒衣被。
                        </p>
                    </div>
                    <div class="health-con-img health-comment">
                        <div class="icon1"></div>
                        <div class="inner-pop"></div>
                        <div class="health-inner-img">
                            <img src="images/img.jpg" alt="">
                        </div>
                        <div class="ion2"></div>
                    </div>
                </div>
                <!--第二栏-->
                <div class="health-con-item">
                    <div class="health-con-text">
                        孩子们在幼儿园的健康和安全，是老师们每天的首要工作。视频中可以看到，老师每天都会认真、规范的进行消毒工作，保证幼儿园环境的卫生、预防交叉感染；家长朋友也可以借鉴其中介绍的方法，照顾孩子在家中的饮食起居。预防手足口，十五字口诀大家要记牢哦：常洗手、勤开窗、喝开水、吃熟食、晒衣被。
                    </div>
                    <div class="health-comment health-clo-con">
                        <div class="icon3"></div>
                        <div class="health-inner-clo">
                            <ul>
                                <li>
                                    <img src="images/img1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="images/img1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="images/img1.jpg" alt="">
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!--第三栏-->
                <div class="health-con-item">
                    <div class="health-con-text">
                        <p>孩子的健康生活，永远是我们工作的重中之重。家园携手，共建安全、健康的生活环境，祝福孩子们的每一天都健康快乐。</p>
                        <p>孩子的健康生活，永远是我们工作的重中之重。家园携手，共建安全、健康的生活环境，祝福孩子们的每一天都健康快乐。</p>

                    </div>
                    <div class="health-c-img health-comment">
                        <div class="icon4"></div>
                        <div class="health-inner-img header-c-inner">
                            <img src="images/img.jpg" alt="">
                        </div>
                    </div>
                    <div class="health-con-text">
                        <p>
                            孩子们在幼儿园的健康和安全，是老师们每天的首要工作。视频中可以看到，老师每天都会认真、规范的进行消毒工作，保证幼儿园环境的卫生、预防交叉感染；家长朋友也可以借鉴其中介绍的方法，照顾孩子在家中的饮食起居。预防手足口，十五字口诀大家要记牢哦：常洗手、勤开窗、喝开水、吃熟食、晒衣被。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容 end-->
    <!--视频-->
    <!--footer-->
    <div class="footer-container">
        <div class="footer-pos"></div>
        <div class="footer-titp">
            <div class="footer-top">
                <img src="images/top.png" alt="">
            </div>
        </div>
        <div class="footer-bg">
            <div class="footer-inner">
                <div class="footer-logo">
                    <a href="index.html">
                        <img src="images/footer-logo.png" alt="">
                    </a>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer1.png" alt="">
                            </a>
                            <span><a href="javascript:;">中心园</a></span>
                            <span><a href="javascript:;">王舍园</a></span>
                            <span><a href="javascript:;">南家园</a></span>
                            <span><a href="javascript:;">芳草园</a></span>
                            <span><a href="javascript:;">颐丰园</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer2.png" alt="">
                            </a>
                            <span><a href="javascrip:;">传统文化</a></span>
                            <span><a href="javascrip:;">探究空间</a></span>
                            <span><a href="javascrip:;">健康领动</a></span>
                            <span><a href="javascrip:;">艺术创想</a></span>
                            <span><a href="javascrip:;">社会链接</a></span>
                            <span><a href="javascrip:;">师资力量</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer3.png" alt="">
                            </a>
                            <span><a href="javascript:;">园所理念</a></span>
                            <span><a href="javascript:;">视觉形象</a></span>
                            <span><a href="javascript:;">环境文化</a></span>
                            <span><a href="javascript;;">食育文化</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer4.png" alt="">
                            </a>
                            <span><a href="javascript:;">园所快报</a></span>
                            <span><a href="javascript:;">健康护航</a></span>
                            <span><a href="javascript:;">金色时光</a></span>
                            <span><a href="javascript:;">最美芳华</a></span>
                            <span><a href="javascript:;">为爱同行</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer-d">copyright@kinglengo</p>
        </div>
    </div>
    <!--footer end-->
</div>
</body>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/main.js"></script>
<script>
    $('.ion2').on('click',function(){
       $('<div class="video-pop"><video class="video" src="video/video.mp4" autoplay  controls></video></div>').appendTo('body');

    })

    $(document).on('click', '.video-pop', function() {
        $('.video-pop').remove();
    });
    $(document).on('click', '.video', function(e) {
        e.stopPropagation()
    })
</script>
</html>