<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青蓝果教育</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="cyanine-container">
    <!--header-->
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-tit"></div>
            <ul class="header-ul">
                <li>
                    <a href="home.html">
                        <img src="images/head1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="teach.html">
                        <img src="images/head2.png" alt="">
                    </a>
                </li>
                <li class="logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="" class="header-logo">
                    </a>
                </li>
                <li>
                    <a href="culture-idea.html">
                        <img src="images/head3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="trends.html">
                        <img src="images/head4.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--header end-->
    <!--面包屑-->
    <div class="crumbs">
        当前位置 ：<span><a href="javascript:;">青蓝果教育</a></span>
    </div>
    <!--面包屑 end-->
    <!--内容-->
    <div class="teach-container">
        <div class="teach-con-tit common-tit"></div>
        <div class="teach-con-box">
            <div class="teach-nav">
                <ul class="culture-item-nav">
                    <li><a flag="item1" href="javascript:;" class="active">传统文化</a></li>
                    <li><a flag="item2" href="javascript:;">探究空间</a></li>
                    <li><a flag="item3" href="javascript:;">健康领动</a></li>
                    <li><a flag="item4" href="javascript:;">艺术创想</a></li>
                    <li><a flag="item5" href="javascript:;">社会链接</a></li>
                    <li><a flag="item6" href="javascript:;">师资力量</a></li>
                </ul>
            </div>
            <div class="teach-nav-content">
                <div class="teach-con-list" id="item1">
                    <div class="teach-list-tit">传统文化</div>
                    <div class="teach-list-con">
                        <div class="teach-list-item">
                            <img src="images/l1.jpg" alt="">
                            <div class="teach-list-text">
                                <p>
                                    习近平主席曾指出：要让中华文化展现出永久魅力和时代风采。因为只有民族的才是世界的！因此，根据幼儿的年龄特点，以及生活教育的理念，我们侧重在二十四节气、传统节日、古诗词等方面开展课程活动。让幼儿走到自然中，通过观察、测量、实践等活动，认识二十四节气中的天气、动植物、时间的变化。并根据节气调整服装、饮食、生活活动、学习活动等。充分体现了课程从生活中来，到生活中去的特点。
                                </p>
                            </div>
                        </div>
                        <div class="teach-list-item">
                            <div class="teach-list-text">
                                <p>
                                    端午节、中秋节、元宵节、重阳节、春节等中国的传统节日，在幼儿园里也受到重视，我们会与日常教学、社会实践结合，让幼儿在活动中体会节日的意义。爱祖国、爱家乡、爱亲人的情感，潜移默化地培养起来。在幼儿园的日常活动中，在节日的庆祝活动中，幼儿会吟诵朗朗上口、意境优美的古诗词，另外古诗词唱诵的音乐也一直伴随着他们入园离园。中华优美的语言文字就这样在不知不觉中熏染着他们。我园将把生活课程、自然课程继续做细做深，让中华传统文化在幼儿心中扎根，让他们从小成为知书识礼、热爱生活和自然的人!
                                </p>
                            </div>
                            <img src="images/l2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="teach-con-list" id="item2">
                    <div class="teach-list-tit">探究空间</div>
                    <div class="teach-list-con">
                        <div class="teach-list-item">
                            <img src="images/l3.jpg" alt="">
                            <div class="teach-list-text">
                                <p>
                                    幼儿的科学学习是在探究具体事物和解决实际问题中，充分发展形象思维以及逻辑思维能力。幼儿科学学习的核心是激发探究兴趣，体验探究过程，发展初步的探究能力。
                                </p>
                                <p>
                                    丰富的自选区域材料，能引发幼儿的主动探索和思考。我们在室内设置了搭建区、娃娃家、数学区、光影区、软轨区、沙画区、美术区、写作区等，幼儿在每一次使用材料，每一次合作碰撞中，都有引发问题和思考的机会。活动过后的“讨论会”更成为孩子们深度思考的契机。
                                </p>
                            </div>
                        </div>
                        <div class="teach-list-item">
                            <div class="teach-list-text">
                                <p>
                                    在与自然的互动中，在对社会问题的思考中，激发了幼儿的探索意识。如：节气中的温度测量、冻冰花、影子游戏、有用的标志等。
                                </p>
                                <p>
                                    好奇心是创造力的前提，因此发挥材料的作用，并努力寻找一个好的问题，是给予幼儿探究空间、激发好奇心的基础。
                                </p>
                            </div>
                            <img src="images/l4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="teach-con-list" id="item3">
                    <div class="teach-list-tit">健康领动</div>
                    <div class="teach-list-con">
                        <div class="teach-list-item">
                            <img src="images/l5.jpg" alt="" class="teach-list-img">
                            <div class="teach-list-text">
                                <p>
                                    在户外运动中，我们有朝气蓬勃的“体能哥哥”。他们富有爱心、又极具耐心和专业性。深受孩子们的喜爱。他们根据场地大小，设计变化多样的器械活动，如：空气棒、滑溜布、小担架等，游戏性、趣味性强。孩子们每天都盼望着体能课。另外，篮球表演赛活动，也锻炼了孩子们的合作能力、抗挫折能力、意志力，以及身体动作的协调性。这是一项逐渐被小朋友们认可的新项目。男性教师的加入，使我园的健康活动变得趣味盎然。实现了锻炼健康身体、培养乐观性格的课程目标。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teach-con-list" id="item4">
                    <div class="teach-list-tit">艺术创想</div>
                    <div class="teach-list-con">
                        <div class="teach-list-item">
                            <img src="images/l6.jpg" alt="" class="teach-list-img">
                            <div class="teach-list-text">
                                <p>
                                    每个幼儿心里都有一颗美的种子。幼儿学习的关键在于充分创造条件和机会，在大自然和社会文化生活中萌发对美的感受和体验，丰富其想象力和创造力，引导幼儿学会用心灵去感受和发现美，用自己的方式去表现和创造美。我园将幼儿对美的感受和表达融于多项活动中。如：与节气有关的花的绘画、手工制作。六一游园活动中的陶泥制作、扎染、湿拓画、糖画、面塑、时装秀等。主题探索活动中的绘画表达、社会活动后的绘画思考等。活动中的感受力，使幼儿“有感而发”，从而使美术创作活动更加灵动、鲜活！
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teach-con-list" id="item5">
                    <div class="teach-list-tit">社会链接</div>
                    <div class="teach-list-con">
                        <div class="teach-list-item">
                            <img src="images/l7.jpg" alt="">
                            <div class="teach-list-text">
                                <p>
                                    在多样的社会活动中，我园注重发展幼儿良好的亲子关系、师生关系和同伴关系，让幼儿在积极健康的人际关系中获得安全感和信任感，发展自信和自尊，在良好的社会环境及文化的熏陶中学会遵守规则，形成基本的认同感和归属感。跟随季节的变化，我园会组织各种春游、秋游活动。如：去农场看小动物、蔬菜采摘、水果采摘、徒步行、拓展训练等。根据课程主题，会组织参观交警队、消防队、小学、陶瓷博物馆、书籍博物馆、以及超市购物、小记者采访等社会活动。
                                </p>
                            </div>
                        </div>
                        <div class="teach-list-item">
                            <div class="teach-list-text">
                                <p>
                                    社会活动是幼儿实践的平台，是幼儿自我认识、自我成长的最好时机。组织好丰富多彩的社会活动，正体现了我们“与儿童一起生活、过有滋有味、有情有义、有声有色的日子”的教育理念。
                                </p>
                            </div>
                            <img src="images/l8.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="teach-con-list" id="item6">
                    <div class="teach-list-tit">师资力量</div>
                    <div class="teach-opr-box">
                        <div class="teach-opr-list">
                            <img src="images/te1.jpg" alt="" class="te1">
                            <div class="teach-opr-text">
                                <h3>司文红</h3>
                                <p class="teach-zw">青蓝果幼教集团总裁</p>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>社会活动是幼儿实践的平台，是幼儿自我认识、自我成长的最好时机。<br />组织好丰富多彩的社会活动，正体现了我们“与儿童一起生活。</p>
                                    </div>
                                </div>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>过有滋有味、有情有义、有声有色的日子”的教育理念。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach-opr-img">
                            <img src="images/te2.jpg" alt="" class="te2 tecom">
                        </div>
                        <div class="teach-opr-list">
                            <img src="images/te3.jpg" alt="" class="te3">
                            <div class="teach-opr-text">
                                <h3>李晓红</h3>
                                <p class="teach-zw">青蓝果幼教集团中心园园长</p>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>中共党员，本科，小教高级，北京师范大学，教育管理专业，学士学位。先后荣获淄博市青年岗位能手，淄博市优质课二等奖，撰写的论文分获全国二等奖、山东省三等奖、淄博市一等奖。</p>
                                    </div>
                                </div>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>从事幼教工作21年，坚信教育不是一个日复一日的重复行为，而是一种日复一日的投入、坚持、顿悟、创新。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach-opr-img">
                            <img src="images/te4.jpg" alt="" class="te4 tecom">
                        </div>
                        <div class="teach-opr-list">
                            <img src="images/te5.jpg" alt="" class="te5">
                            <div class="teach-opr-text">
                                <h3>王玉珍</h3>
                                <p class="teach-zw">青蓝果幼教集团王舍园园长</p>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>
                                            毕业于哈尔滨师范大学，学前教育专业，本科学历,小教高级。从事幼教工作30年，多次获得张店区先进个人荣誉称号，撰写的论文获淄博市一等奖，自制玩教具获淄博市一等奖，参加的QC小组连续三年获全国一等奖。</p>
                                    </div>
                                </div>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>有爱才有最好的教育！将爱融入生活，生活才能有滋有味！</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach-opr-img">
                            <img src="images/te6.jpg" alt="" class="te6 tecom">
                        </div>
                        <div class="teach-opr-list">
                            <img src="images/te7.jpg" alt="" class="te7">
                            <div class="teach-opr-text">
                                <h3>汪敏</h3>
                                <p class="teach-zw">青蓝果教育集团南家园园长</p>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>
                                            毕业于山东理工大学，本科学历。从事幼教工作16年以来，先后获得：淄博市学前教育论文二等奖、张店区优质课一等奖、张店区幼儿教师技能大赛获绘画类二等奖。</p>
                                    </div>
                                </div>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>爱是教育的灵魂，只有融入了爱的教育才是真正的教育。用一颗执着的心去做好自己的事业，以身作则、事必躬亲、以诚相待，建设一支团结、合作、高效、快捷的教师队伍，为幼教事业不断耕耘。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach-opr-img">
                            <img src="images/te8.jpg" alt="" class="te8 tecom">
                        </div>
                        <div class="teach-opr-list">
                            <img src="images/te9.jpg" alt="" class="te9">
                            <div class="teach-opr-text">
                                <h3>岳海莉</h3>
                                <p class="teach-zw">青蓝果幼教集团芳草园园长</p>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>
                                            曲阜师范大学本科。从事幼教工作20年，多次在各类比赛中获奖,曾获淄博市幼儿教师专业技能大赛绘画项目二等奖，撰写论文《每天有个好开始，在行动中体验爱》获淄博市学前教育优秀论文获一等奖，论文《为孩子搭建一个充分发展自己的大舞台》荣获第六届蒙台梭利教育国际研讨会十佳论文奖。</p>
                                    </div>
                                </div>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>在芳草园，为孩子种下一生幸福的种子，收获累累硕果！</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach-opr-img">
                            <img src="images/te10.jpg" alt="" class="te10 tecom">
                        </div>
                        <div class="teach-opr-list">
                            <img src="images/te11.jpg" alt="" class="te11">
                            <div class="teach-opr-text">
                                <h3>宋娜</h3>
                                <p class="teach-zw">青蓝果幼教集团颐丰园园长</p>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>
                                            淄博张店新华同力颐丰幼儿园园长，山东师范大学本科，淄博市幼教新秀。从事幼教工作18年，多次在各类比赛中获奖，2005撰写论文获淄博一等奖；2011年张店区公开课一等奖；2011年被评为张店区优秀教师。</p>
                                    </div>
                                </div>
                                <div class="teach-text-item">
                                    <i></i>
                                    <div class="text-list">
                                        <p>我坚信，爱之花开放的地方，生命便能欣欣向荣！</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach-opr-img">
                            <img src="images/te12.jpg" alt="" class="te12 tecom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容 end-->
    <!--footer-->
    <div class="footer-container">
        <div class="footer-pos"></div>
        <div class="footer-titp">
            <div class="footer-top">
                <img src="images/top.png" alt="">
            </div>
        </div>
        <div class="footer-bg">
            <div class="footer-inner">
                <div class="footer-logo">
                    <a href="index.html">
                        <img src="images/footer-logo.png" alt="">
                    </a>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer1.png" alt="">
                            </a>
                            <span><a href="javascript:;">中心园</a></span>
                            <span><a href="javascript:;">王舍园</a></span>
                            <span><a href="javascript:;">南家园</a></span>
                            <span><a href="javascript:;">芳草园</a></span>
                            <span><a href="javascript:;">颐丰园</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer2.png" alt="">
                            </a>
                            <span><a href="javascrip:;">传统文化</a></span>
                            <span><a href="javascrip:;">探究空间</a></span>
                            <span><a href="javascrip:;">健康领动</a></span>
                            <span><a href="javascrip:;">艺术创想</a></span>
                            <span><a href="javascrip:;">社会链接</a></span>
                            <span><a href="javascrip:;">师资力量</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer3.png" alt="">
                            </a>
                            <span><a href="javascript:;">园所理念</a></span>
                            <span><a href="javascript:;">视觉形象</a></span>
                            <span><a href="javascript:;">环境文化</a></span>
                            <span><a href="javascript;;">食育文化</a></span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="images/footer4.png" alt="">
                            </a>
                            <span><a href="javascript:;">园所快报</a></span>
                            <span><a href="javascript:;">健康护航</a></span>
                            <span><a href="javascript:;">金色时光</a></span>
                            <span><a href="javascript:;">最美芳华</a></span>
                            <span><a href="javascript:;">为爱同行</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer-d">copyright@kinglengo</p>
        </div>
    </div>
    <!--footer end-->

</div>
</body>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/main.js"></script>
<script>
    $(window).scroll(function(){
        var navLeft=$('.teach-con-box').offset().top;
        var scrollTop=$(window).scrollTop();
        console.log(navLeft)
        console.log(scrollTop)
        if(scrollTop>=navLeft){
            $(".culture-item-nav").css({position:'relative',top:(scrollTop-navLeft-0)+"px"})
        }
    })
    $('.culture-item-nav li a').on("click",function(){
        var oA=$(this);
        var index=oA.parent().index();
        var h=$('.teach-con-list').eq(index).offset().top + 'px';

        if(oA.attr("class") != "active"){
            $(".active").removeClass("active");
            oA.addClass('active')
            $('html,body').animate({scrollTop:h},300);
        }
    })
</script>
</html>
