<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="max-age=180">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="telephone=no">
    <title>青蓝果动态-模块</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/mobile.css">
</head>
<body>
<div class="cyanine-mob-container">
    <!--header start-->
    <div class="cyanime-mob-header">
        <ul>
            <li>
                <a href="home.html">
                    <img src="../images/phone/home1.png" alt="">
                </a>
            </li>
            <li>
                <a href="teach.html">
                    <img src="../images/phone/home2.png" alt="">
                </a>
            </li>
            <li class="mo-logo">
                <a href="index.html">
                    <img src="../images/phone/logo.png" alt="">
                </a>
            </li>
            <li>
                <a href="culture.html">
                    <img src="../images/phone/home3.png" alt="">
                </a>
            </li>
            <li>
                <a href="trends.html">
                    <img src="../images/phone/home4.png" alt="">
                </a>
            </li>
        </ul>

    </div>
    <!--header end-->
    <!--面包屑 start-->
    <div class="cyanime-mob-crumbs">
        当前位置 ：<span><a href="javascript:;">青蓝果动态</a> -<span>健康护航</span></span>
    </div>
    <!--面包屑 end-->
    <!--内容 start-->
    <div class="trends-container">
        <div class="trends-con-tit common-tit">
            <div class="trends-title-img">
                <img src="../images/d-tit.jpg" alt="">
            </div>
            <div class="trends-ul-list">
                <div class="ul-other-img mob-other-img">
                    <img src="../images/dtj.jpg" alt="">      <!--健康护航-->
                    <img src="../images/dto.jpg" alt="">      <!--金色时光-->
                    <img src="../images/dts.jpg" alt="">      <!--社会链接-->
                    <img src="../images/dty.jpg" alt="">      <!--园所快报-->
                    <img src="../images/dtz.jpg" alt="">      <!--最美芳华-->
                </div>
                <ul class="trends-nav-lists">
                    <li><img src="../images/top0.jpg" alt=""></li>
                    <li><img src="../images/dc1.jpg" alt=""></li>
                    <li><img src="../images/dc2.jpg" alt=""></li>
                    <li><img src="../images/dc3.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="trends-health-container">
            <div class="health-con-list">
                <div class="health-con-tit">【小记者在行动】预防手足口 健康伴我行</div>
                <div class="health-con-time">2018/5/26</div>
                <!--第一栏-->
                <div class="health-con-item">
                    <div class="health-con-text">
                        <p>
                            手足口病是由肠道病毒引起、传播很快的一种儿童常见传染病。健康防御系统还未完善的儿童，自然成为了手足口病的“易感人群”
                        </p>
                        <p>
                            手足口病是可防可控不可怕的，我们平日该如何预防呢？请看我们的小记者从南家分园发来的报道~
                        </p>
                    </div>
                    <div class="health-con-img health-comment">
                        <div class="icon1"></div>
                        <div class="inner-pop"></div>
                        <div class="health-inner-img">
                            <img src="../images/img.jpg" alt="">
                        </div>
                        <div class="ion2"></div>
                    </div>
                </div>
                <!--第二栏-->
                <div class="health-con-item">
                    <div class="health-con-text">
                        <p>孩子们在幼儿园的健康和安全，是老师们每天的首要工作。视频中可以看到，老师每天都会认真、规范的进行消毒工作，保证幼儿园环境的卫
                            生、预防交叉感染；家长朋友也可以借鉴其中介绍的方法，照顾孩子在家中的饮食起居。预防手足口，十五字口诀大家要记牢哦：常洗手、勤开窗、喝开水、吃熟食、晒衣被。</p>
                    </div>
                    <div class="health-comment health-clo-con">
                        <div class="icon3"></div>
                        <div class="health-inner-clo">
                            <ul>
                                <li>
                                    <img src="../images/img1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="../images/img1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="../images/img1.jpg" alt="">
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!--第三栏-->
                <div class="health-con-item">
                    <div class="health-con-text">
                        <p>孩子的健康生活，永远是我们工作的重中之重。家园携手，共建安全、健康的生活环境，祝福孩子们的每一天都健康快乐。</p>
                        <p>孩子的健康生活，永远是我们工作的重中之重。家园携手，共建安全、健康的生活环境，祝福孩子们的每一天都健康快乐。</p>

                    </div>
                    <div class="health-c-img health-comment">
                        <div class="icon4"></div>
                        <div class="health-inner-img header-c-inner">
                            <img src="../images/img.jpg" alt="">
                        </div>
                    </div>
                    <div class="health-con-text">
                        <p>
                            孩子们在幼儿园的健康和安全，是老师们每天的首要工作。视频中可以看到，老师每天都会认真、规范的进行消毒工作，保证幼儿园环境的卫生、预防交叉感染；家长朋友也可以借鉴其中介绍的方法，照顾孩子在家中的饮食起居。预防手足口，十五字口诀大家要记牢哦：常洗手、勤开窗、喝开水、吃熟食、晒衣被。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容 end-->
    <!--视频-->
    <div class="video-pop" style="display:none;">
        <video class="video" src="../video/video.mp4" autoplay controls></video>
        <div class="close">x</div>
    </div>
    <!--footer start-->
    <div class="cyanime-mob-footer">
        <a href="index.html" class="footer-logo">
            <img src="../images/phone/footer-logo.png" alt="">
        </a>
        <div class="footer-top">
            <img src="../images/top.png" alt="">
        </div>
    </div>
    <!--footed end-->

</div>
</body>
<script src="../js/jquery-2.1.3.min.js"></script>
<script src="../js/rem.js"></script>
<script src="../js/top.js"></script>
<script>
    $('.ion2').on('click', function () {
        $('.video-pop').show()
    })
    $(document).on('click touchstart', '.video', function (e) {
        e.stopPropagation()
    })
    $(document).on("click touchstart", '.close', function () {
        $('.video-pop').hide();
    })

    $(document).on('click touchstart', '.video-pop', function () {
        $('.video-pop').hide();
    });
</script>
</html>