@charset "utf-8";
/* CSS Document */
body{ font-family:"苹方黑体-纤细-简" !important; font-size:16px; background:#b3b8ba}

.html_qcgdt{ overflow:hidden}

.index_daohang{ position:relative}
.index_daohang_span1{width:0%; height:1px; background:#fff; position:absolute; top:50%; left:50%;
 transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_daohang:hover .index_daohang_span1{ width:120%; left:-10%}
.index_daohang_span1_guding{ width:120%; left:-10%}

.index_daohang_span2{width:100%; text-align:center !important; height: 16px; line-height:16px !important; position:absolute; bottom:-16px; left:0%; font-size:12px !important; color:#fff; opacity:0}
.index_daohang:hover .index_daohang_span2{  -webkit-animation-name: fadeInDown;animation-name: fadeInDown; opacity:1}
.index_daohang_span2_guding{ -webkit-animation-name: none !important;animation-name: none !important; opacity:1}
/*右上固定及弹出*/
.jjtd_tanchu_hei2{width:100%; height:100%; position:fixed !important; background:rgba(0,0,0,0); z-index:9998; top:0; left:0; display:none}
.index_youshang{position:absolute; right:5vw; top:0; height:130px; cursor:pointer}
.index_youshang_p1{position:absolute; top:0; left:0; width:100%; height:65px; line-height:65px; margin-bottom:0}
.index_youshang_p2{position:absolute; right:0; top:50%; width:100%; height:65px; margin-top:-32.5px; line-height:65px; text-align:right; margin-bottom:0}
.index_youshang_p3{position:absolute; bottom:0; left:0; width:100%; height:65px; line-height:65px; margin-bottom:0}
.index_youshang p img{position:relative; z-index:9999}
.index_youshang p img:hover{  -webkit-animation-name: jello; cursor:pointer;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.index_youshang_tan{ position: absolute; top:15vh; left:25%; right:25%; background:#fff; border-radius:20px; padding:7vh; z-index:9999; 
 -webkit-box-shadow:0 10px 10px rgba(100, 100, 100, .5);  
  -moz-box-shadow:0 10px 10px rgba(100, 100, 100, .5);  
  box-shadow:0 10px 10px rgba(100, 100, 100, .5);  }
  
.index_youshang_tan_a{display:block; width:8vw; height:5vh; position:absolute;  right:25%; bottom:7vh}

 
.index_youshang_tan_p1{ font-size:18px; color:#7d7d7d; margin-bottom:4vh; letter-spacing:2px}
.index_youshang_tan_p2{font-size:16px; color:#7d7d7d; margin-top:1.5vh; letter-spacing:1px}
.index_youshang_tan .col-md-4{padding:0}
.index_youshang_tan_p3{padding:0 0 0 20%; margin-bottom:3vh}
.index_youshang_tan_p3 span{width:60%; display:inline-block; height:4vh; line-height:4vh; font-size:16px; text-align:center; border:1px solid #7d7d7d; font-size:14px !important; letter-spacing:2px !important }
.index_tuandui_p4 {font-size:18px; padding:0 0 0 20%; margin-bottom:3vh}
.index_tuandui_p4 img{display:inline-block; margin-right:15px; width:20px; height:20px;}
.index_youshang_tan_cha{position:absolute; right:4vh; top:3vh; cursor:pointer;}

/*团队信息固定及弹出*/
.index_tuandui_tan{ position: fixed; top:15vh; left:40%; right:40%; background:#fff; border-radius:20px; padding:4vh; z-index:9999;}

.index_tuandui_tan_p1{text-align:center;}
.index_tuandui_tan_p1 img{ display:inline-block}
.index_tuandui_tan_p2{ text-align:center; font-size:25px; color:#e7ae47}
.index_tuandui_tan_p3{ text-align:center; font-size:14px; color:#323232;}
.index_tuandui_tan_p3 span{width:80%; margin-left:10%; height:1px; background:#e7ae47; display:block; margin-top:15px; margin-bottom:15px}
.index_tuandui_tan_p4{ text-align:center; font-size:14px; color:#323232; line-height:25px;margin-bottom:0; height:100px; overflow:hidden}
.jjtd_tanchu_hei{width:100%; height:100%; position:fixed !important; background:rgba(0,0,0,0); z-index:9998; top:0; left:0; display:none}
.index_tuandui_tan_cha{position:absolute; right:2vh; top:2vh; cursor:pointer; }
#index_tuandui_tan{display: none}

.jjtd_zuo{ width:50% !important; float:right; text-align:right}
.jjtd_you{ width:50%; text-align:left}
.jjtd_zuo img{width:40px; height:40px; display:inline-block;}
.jjtd_you img{width:40px; height:40px; display:inline-block}



.hello span{color:#ffffff}

@font-face {
 font-family: '苹方黑体-纤细-简';
 src: url('../font/pfjx.eot');
 src: local('苹方黑体-纤细-简'),
              local('苹方黑体-纤细-简'),
              url('../font/pfjx.woff') format('woff'),
              url('../font/pfjx.ttf') format('truetype'),
              url('../font/pfjx.svg#苹方黑体-纤细-简') format('svg');
} 

.text-right{height:70px; line-height:70px; float:right}
.clearfix{height:70px; line-height:70px; float:left}



/*首页，匠几服务*/
.index_jjfw{ min-height:80vh; padding-top:20vh}
.index_jjfw_1{font-size:26px; text-align:center; color:#fff; letter-spacing:3px; margin-bottom:20px; line-height:20px}
.index_jjfw_1 span{font-size:12px; display:inline-block; line-height:10px !important}
.index_jjfw_1 img{display:inline-block; margin-top:10px}

.index_jjfw_2{font-size:16px; text-align:center; color:#fff; letter-spacing:2px; line-height:30px;}
.index_jjfw .col-md-4{ text-align:center; font-size:16px; color:#fff; letter-spacing:2px; margin-top:3%; position:relative;}
.index_jjfw .col-md-4 img{ display:inline-block; margin-bottom:10px;}
.index_jjfw .col-md-3{ text-align:center; font-size:16px; color:#fff; letter-spacing:2px; margin-top:3%; position:relative;}
.index_jjfw .col-md-3 img{ display:inline-block; margin-bottom:10px;}
.index_jjfw_png{transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_jjfw_gif{ position: absolute;top: 0%;left: 50%;transform: translate(-50%, -0%) !important;  /* 使用css3的transform来实现 */ opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_jjfw_gif_gai1{ position: absolute;top: 0%; right:0; transform: translate(-15px, -0%) !important;  /* 使用css3的transform来实现 */ opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_jjfw_gif_gai2{ position: absolute;top: 0%; left:0; transform: translate(15px, -0%) !important;  /* 使用css3的transform来实现 */ opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}

.index_jjfw .col-md-4:hover .index_jjfw_gif{ opacity:1}
.index_jjfw .col-md-4:hover .index_jjfw_gif_gai1{ opacity:1}
.index_jjfw .col-md-4:hover .index_jjfw_gif_gai2{ opacity:1}
.index_jjfw .col-md-4:hover .index_jjfw_png{ opacity:0}
.index_jjfw .col-md-3:hover .index_jjfw_gif{ opacity:1}
.index_jjfw .col-md-3:hover .index_jjfw_png{ opacity:0}

/*首页，品牌案例*/
.index_ppal{ min-height:80vh; padding-top:19vh}
.index_ppal .col-md-6{ position:relative}
.index_ppal_tu{ border:1px solid #fff; display:inline-block; padding:15px; width:100%}
.index_ppal_tu img{width:100%}
.index_ppal_wenzi_da{ position: absolute !important; right:0; top:25%;}
.index_ppal_wenzi{display:block; padding:15px; width:100%; padding-left:10%;}
.index_ppal_wenzi p{ font-size:16px; color:#fff; margin-bottom:25px}
.index_ppal_wenzi_bt{font-size:24px !important; color:#fff !important; margin-bottom:10px !important}
.index_ppal_riqi{position:absolute; top:-28px; right:-35px; font-size:40px; color:#FFF;}
.index_ppal_riqi span{font-size:16px !important; margin-right:5px}

.index_ppal_more{text-align: center; margin-top:4vh}
.index_ppal_more a{font-size:14px; color:#fff; height:4vh; line-height:4vh; width:20%; display:inline-block; border:1px solid #fff; text-decoration:none !important; position:relative}
.index_ppal_more a:hover{ background:#a7abad}
.index_ppal_more_you{position:absolute; right:6%;}
.index_ppal_more_you img{ width:10px; height:10px; margin-left:5px}


.index_ppal_more_xiao{margin-bottom:0 !important}
.index_ppal_more_xiao a{ font-size:14px; color:#fff; padding:2px 10px; border:1px solid #fff; text-decoration:none !important}
.index_ppal_more_xiao a:hover{ background:#a7abad !important}
.index_ppal_more_xiao_you img{ width:10px; height:10px; margin-left:5px}

.index_ppal_xuanxiangka{margin-top:7vh}
.index_ppal_xuanxiangka ul{list-style:none; padding:0; text-align:center; width:100%}
.index_ppal_xuanxiangka ul li{ width:12%; margin-right:3%; display:inline-block; cursor:pointer; position:relative}
.index_ppal_xuanxiangka_span{position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.3); opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_ppal_xuanxiangka ul li:hover .index_ppal_xuanxiangka_span{opacity:1}
.index_ppal_xuanxiangka ul li img{ width:100%}
.index_ppal_xuanxiangka_span_hei{opacity:1}

.index_ppal .col-md-6:hover .index_ppal_riqi{  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;}


/*首页，匠几团队*/
.index_jjtd{ min-height:80vh; padding-top:19vh;}
#pic li{width:16%;}

.jiangjituandui_ul{padding:0}
.jiangjituandui_ul li{ width:14%; float:left; list-style:none; position:relative; cursor:pointer}
.index_tuandui_img2{ position:absolute; top:0; left:50%; transform:translateX(-50%); opacity:0}
.jiangjituandui_ul li:hover .index_tuandui_img2{ opacity:1}
.jiangjituandui_ul li:hover .index_tuandui_img1{ opacity:0}

.left233{width:60px; height:60px; background:none !important;position: absolute;top:50%; margin-top:-25px;left:1.5vw; opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}

.right233{width:60px; height:60px; background:none !important;position: absolute;top:50%; margin-top:-25px;right:1.5vw !important; opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}

.jjtd_td:hover .left233{opacity:0.8 !important}
.jjtd_td:hover .right233{opacity:0.8 !important}




/*首页，匠几动态*/
.index_jjdt_bt{height:5vh; font-size:24px; color:#fff; }
.index_jjdt_bt div{ width:6%; height:13vh; margin-top:-5vh; border:1px solid #fff; float:left; margin-right:3%}
.index_jjdt_bt span{ font-size:16px; color:#fff;}
.index_jjdt_bt p{ margin-bottom:0}

.index_jjdt_wenzi_da{ position: absolute !important; right:0; top:13%;}
.index_jjdt_wenzi{display:block; font-size:18px; color:#fff; position:absolute; left:0; top:50%; transform: translate(-0%, -50%) !important; line-height:30px; letter-spacing:3px }
.index_jjdt_wenzi p{ font-size:16px; color:#fff; margin-bottom:25px}
.index_jjdt_youxian{position:absolute; right:0}
.index_jjdt_youxian img{ float:right}
.index_jjdt_more{ position:absolute; bottom:5vh; right:0}
.index_jjdt_more_xiao{margin-bottom:0 !important; text-align:right}
.index_jjdt_more_xiao a{ font-size:14px; color:#fff; padding:2px 10px; border:1px solid #fff; text-decoration:none !important}
.index_jjdt_more_xiao a:hover{ background:#a7abad !important}
.index_jjdt_more_xiao_you img{ width:10px; height:10px; margin-left:5px}







/*首页,合作流程*/
.index_hzlc{margin:0 -8%; min-height:80vh; padding-top:23vh}
.index_hzlc .index_hzlc1{ width:20%; float:left; margin-bottom:8vh; text-align:center; font-size:16px; color:#fff; position:relative}
.index_hzlc .index_hzlc1 img{ margin:0 auto;margin-bottom:30px;}
.index_hzlc1_img_gif{position:absolute; left:50%; top:0; transform:translate(-50%,0); opacity:0;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_hzlc1_img_png{transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.index_hzlc1:hover .index_hzlc1_img_gif{opacity:1}
.index_hzlc1:hover .index_hzlc1_img_png{opacity:0}

/*首页,底部*/
.index_dibu{font-size:16px; color:#fff;}
.index_dibu .col-md-5{margin-top:7vh; letter-spacing:1px}

.index_dibu_biaoti{font-size:20px; color:#fff; margin-bottom:4vh}
.index_dibu_daohang{list-style-image:url(../images/dongtai_sanji0.png);}
.index_dibu_daohang li{ width:33%; float:left; font-size:15px; color:#ffffff; margin-bottom:2vh}
..index_dibu .col-md-2{position:relative}
.index_dibu .col-md-2 img{ margin:0 auto}


.index_dibu_beian{margin-top:11vh;}



.index_dibu_top{position:absolute; bottom:-60px; right:5vw; width:120px; height:120px; z-index:1001}
.index_dibu_top_guding{position:fixed; bottom:10vh; right:5vw; width:120px; height:120px; margin-right:15px; z-index:998}



/*匠几动态页*/
#jjdt_zhuti_mian2,#jjdt_zhuti_mian3,#jjdt_zhuti_mian4{display:none}
.jjdt_zhuti{height:100vh; padding-top:20vh !important}
.jjdt_biaoti{text-align:center; margin-bottom:6vh; font-size:26px; text-align:center; color:#fff; letter-spacing:3px}
.jjdt_biaoti img{display:inline-block}
.jjdt_zhuti{padding:0; text-align:center;}
.jjdt_zhuti_biaoqian span{ padding:7px 15px; border:1px solid #fff !important; position:relative; cursor:pointer; letter-spacing:1px; height:auto; text-align:center; display:inline-block; font-size:14px; color:#fff; }
.jjdt_zhuti_biaoqian_xian{position:absolute; top:50%; left:50%; height:1px; width:0%; margin-left:0%; background:#fff;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.jjdt_zhuti_biaoqian_xian_active{position:absolute; top:50%; left:0% !important; height:1px; width:140% !important; margin-left:-20% !important; background:#fff;}
.jjdt_zhuti_biaoqian span:hover .jjdt_zhuti_biaoqian_xian{position:absolute; top:50%; left:0%; height:1px; width:140%; margin-left:-20%; background:#fff;}

.jjdt_zhuti_dongtai{border:1px solid #fff; margin-top:2vh; padding:0px; position:relative;}
.jjdt_zhuti_dongtai .col-md-3{ padding:20px;}
.jjdt_zhuti_dongtai .col-md-7{ padding:20px; text-align:left}
.jjdt_zhuti_dongtai .col-md-7 p{ font-size:16px; color:#fff; letter-spacing:2px}
.jjdt_zhuti_dongtai .col-md-2 b{ font-size:16px !important; color:#fff !important; display:inline-block; border:1px solid #fff; border-top:0; padding:5px 10px; font-weight:normal !important}
.jjdt_zhuti_dongtai span{ font-size:14px; color:#fff; letter-spacing:2px; position: absolute; right:20px; bottom:20px; padding:0 !important; margin:0 !important}

.jjdt_zhuti_fenye{ text-align:center; cursor:pointer; margin-top:10vh; margin-bottom:10vh}
.jjdt_zhuti_fenye span{ width:30px; height:30px; line-height:30px !important; text-align:center; cursor:pointer; color:#e5e1e1; font-size:16px; display:inline-block; padding:0 !important; margin:0 1% !important}
.jjdt_zhuti_fenye_span{ color:#ffffff !important; border:1px solid #fff !important;}


/*匠几动态三级*/
.jjdt_snaji_mianbaoxie{font-size:14px; color:#fff; padding-left:60px; margin-top:5vh;}
.jjdt_sanji_bt{ font-size:34px; color:#FFF; font-weight:700; letter-spacing:3px; text-align:center; margin-top:10vh}
.jjdt_sanji_bt span{ padding:10px 20px 0px 23px; width:auto; position:relative; display:inline-block}
.jjdt_sanji_bt b{ font-size:14px !important; letter-spacing:1px !important;}
.jjdt_sanji_nr{text-align:center; margin-top:5vh; font-size:18px; color:#fff; letter-spacing:2px;}
.jjdt_sanji_nr p{ margin-bottom:3vh; text-align:left !important}
.jjdt_sanji_nr img{display:inline-block}
.jjdt_sanji_baixian{height:1px; background:#fff; margin-bottom:10vh !important;}
.jjdt_sanji_nr .col-md-12{padding:0; position:relative; font-size:16px; color:#fff; letter-spacing:2px; line-height:35px;}
.jjdt_sanji_nr_zuoda .col-md-6{padding:10px; border:1px solid #fff}
.jjdt_sanji_nr_zuoda .col-md-5{padding:10px; border:1px solid #fff; position:absolute; top:50%; right:0; transform:translateY(-50%)}
.jjdt_sanji_nr_zuoda .col-md-5 img{width:100%}
.jjdt_sanji_nr_youda .col-md-6{padding:10px; border:1px solid #fff}
.jjdt_sanji_nr_youda .col-md-5{padding:10px; border:1px solid #fff; position:absolute; top:50%; left:0; transform:translateY(-50%)}
.jjdt_sanji_nr_youda .col-md-5 img{width:100%}

.jjdt_sanji_nr1{width:80%; margin-left:10%}
.jjdt_sanji_nr1 ul{ list-style-image:url(../images/dongtai_sanji0.png); text-align:left !important; margin-bottom:0; padding-left:0px}
/*.jjdt_sanji_nr1 ul li{ padding-left:10px}*/
.jjdt_sanji_nr .col-md-6 img{width:100%}
.jjdt_sanji_zuotu{padding-right:20px !important}
.jjdt_sanji_youtu{padding-left:20px !important; margin-left:50%}
.jjdt_sanji_nr_tuceng{margin:6vh 0;}

.jjdt_sanji_youwenzi{position:absolute; right:0; top:50%; transform:translate(0,-50%)}
.jjdt_sanji_zuowenzi{position:absolute; left:0; top:50%; transform:translate(0,-50%); padding-right:20px !important;}
.jjdt_sanji_zuowenzi ul{ padding-left:20px !important}

.jjdt_sanji_santu .col-md-4{font-size:14px !important}
.jjdt_sanji_santu .col-md-4 div{padding:15px; border:1px solid #fff; display:inline-block; margin-bottom:3vh}


/*匠几动态三级2*/
.jjdt_sanji2_nr{font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; width:80%; margin-left:10%; margin-top:5vh; text-indent:2em}
.jjdt_sanji2_nr span{font-size:30px;}
.jjdt_sanji2_nr_img1{padding:15px; background:#fff; width:inherit; margin:6vh auto; position:relative;}
.jjdt_sanji2_nr_img1 img{ width:100%;}
.jjdt_sanji2_nr_img1 span{ position:absolute; width:100%; display:inline-block; top:-15px; bottom:15px; right:-15px; border:1px solid #fff; z-index:-1}

.jjdt_sanji2_nr_img2{padding:15px; border:1px solid #fff; width:inherit; margin:6vh auto; position:relative;}
.jjdt_sanji2_nr_img2 img{ width:100%;}
.jjdt_sanji2_nr_img2 span{ position:absolute; width:100%; display:inline-block; top:-15px; bottom:15px; left:-15px; border:1px solid #fff; z-index:-1}

/*匠几动态三级3*/
.jjdt_sanji3_nr{ background-image:url(../images/dongtai_sanji_3_bg.png); background-repeat:no-repeat; margin-top:2vh;}

.jjdt_sanji3_nr_1{padding:0; margin-top:20vh; position:relative}
.jjdt_sanji3_nr_1 img{display:inline-block}
.jjdt_sanji3_nr_1 .col-md-6{ text-align:center; padding:0}
.jjdt_sanji3_nr_1_wenzi{position:absolute; right:10%; width:40%; top:50%; transform:translateY(-50%);font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important}
.jjdt_sanji3_nr_1_wenzi span{font-size:30px !important;}

.jjdt_sanji3_nr_2{padding:0; margin-top:5vh; position:relative}
.jjdt_sanji3_nr_2 img{display:inline-block}
.jjdt_sanji3_nr_2 .col-md-6{ text-align:center; padding:0}
.jjdt_sanji3_nr_2_wenzi{position:absolute; left:10%; top:50%; width:40%; transform:translateY(-50%);font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important}
.jjdt_sanji3_nr_2_wenzi span{font-size:30px !important;}

.jjdt_sanji3_nr_3{padding:0; margin-top:-2vh; position:relative}
.jjdt_sanji3_nr_3 img{display:inline-block}
.jjdt_sanji3_nr_3 .col-md-6{ text-align:center; padding:0}

.jjdt_sanji3_nr_4{padding:0; margin-top:-2vh; position:relative}
.jjdt_sanji3_nr_4 img{display:inline-block}
.jjdt_sanji3_nr_4 .col-md-6{ text-align:center; padding:0}
.jjdt_sanji3_nr_4_wenzi{position:absolute; left:10%; top:50%; width:40%; transform:translateY(-50%);font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important}
.jjdt_sanji3_nr_4_wenzi span{font-size:30px !important;}

.jjdt_sanji3_nr_5{padding:0; margin-top:5vh; position:relative}
.jjdt_sanji3_nr_5 img{display:inline-block}
.jjdt_sanji3_nr_5 .col-md-6{ text-align:center; padding:0}
.jjdt_sanji3_nr_5_wenzi{position:absolute; right:10%; width:40%; top:50%; transform:translateY(-50%);font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important}
.jjdt_sanji3_nr_5_wenzi span{font-size:30px !important;}

.jjdt_sanji3_nr_6{padding:0; margin-top:-4vh; position:relative}
.jjdt_sanji3_nr_6 img{display:inline-block}
.jjdt_sanji3_nr_6 .col-md-6{ text-align:center; padding:0}
.jjdt_sanji3_nr_6_wenzi{position:absolute; left:10%; width:40%; bottom:10%; font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important}
.jjdt_sanji3_nr_6_wenzi span{font-size:30px !important;}

.jjdt_sanji3_nr_santu{margin-top:25vh}
.jjdt_sanji3_nr_santu .col-md-4{text-align:center; font-size:16px; color:#fff; line-height:30px}
.jjdt_sanji3_nr_santu .col-md-4 img{border:1px solid #fff; display:inline-block; margin-bottom:2vh}

.jjdt_sanji3_nr_santuxia{ text-align:center; margin-top:10vh}
.jjdt_sanji3_nr_santuxia .col-md-4 div{ border:1px solid #fff; width: auto; display:inline-block; position:relative}
.jjdt_sanji3_nr_santuxia .col-md-4 div span{ border:1px solid #fff; display:inline-block; position:absolute; left:-15px; width:100%; top:-15px; bottom:15px; z-index:-1}
.jjdt_sanji3_nr_santuxia_wenzi{position:absolute; left:35%; top:35%; transform:translateY(-50%);font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important}
.jjdt_sanji3_nr_santuxia_wenzi span{font-size:30px !important;}
.jjdt_sanji3_nr_santuxia_xiantiao{border-bottom:1px solid #fff; text-align:right}
.jjdt_sanji3_nr_santuxia_xiantiao img{ display:inline-block; margin-right:5%}

.jjdt_sanji3_nr_tuwen{font-size:16px; color:#fff; letter-spacing:2px; line-height:30px; text-align:left !important; position:relative}
.jjdt_sanji3_nr_tuwen span{font-size:30px !important;}
.jjdt_sanji3_nr_tuwen_tu{text-align:center; margin-bottom:4vh}
.jjdt_sanji3_nr_tuwen_tu img{display:inline-block}
.jjdt_sanji3_nr_tuwen_dingweitu{position:absolute; left:-10%; top:-150px}
.jjdt_sanji3_nr_tuwen_wenzi{position:relative; display:block}



/*配套采购页*/
.ptcg_zhuti{margin:0%; padding-top:20vh}
.ptcg_zhuti img{width:100%; margin-bottom:10vh}





/*联系匠几*/
.lxjj_dian{position:absolute; right:15.3%; top:43%; width:46px; height:46px; z-index: 9998}

/*匠几案例*/
.jjal_zhuti{padding-top:13vh}
.jjal_albt{font-size:24px; color:#fff; letter-spacing:2px; margin:20px 0 10px 0;}
.jjal_albt1{font-size:24px; color:#fff; letter-spacing:2px; margin:30px 0 20px 0;}
.jjal_alnr{font-size:16px; color:#fff; letter-spacing:2px;}

.jjal_span_hei{ position:absolute; left:0; top:0; bottom:0; right:0; background:rgba(0,0,0,0.3); opacity:1;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.slick-active .jjal_span_hei{opacity:0}
.jjal_al_pbl .col-md-6{margin-bottom:7vh}
.jjal_al_pbl_bt{font-size:32px; color:#fff; text-align:center; margin-top:7vh; margin-bottom:8vh; text-align:center; line-height:30px}
.jjal_al_pbl_bt img{display:inline-block}




/*匠几案例三级*/
.jjal_sanji_logo{text-align:center; margin:10vh 0 6vh 0; position:relative;}
.jjal_sanji_logo div{text-align:left; display:inline-block; font-size:24px; color:#fff; border-left:1px solid #fff; padding-left:20px; transform:translateY(30%); margin-left:20px}
.jjal_sanji_logo div p{ margin:5px 0}


#jjal_sanji_mianban2,#jjal_sanji_mianban3,#jjal_sanji_mianban4,#jjal_sanji_mianban6,#jjal_sanji_mianban7,#jjal_sanji_mianban8,#jjal_sanji_mianban10,#jjal_sanji_mianban11,#jjal_sanji_mianban12,#jjal_sanji_mianban14,#jjal_sanji_mianban15,#jjal_sanji_mianban16,#jjal_sanji_mianban18,#jjal_sanji_mianban19,#jjal_sanji_mianban20{display:none}
.jjal_sanji_logo img{display:inline-block}
.jjal_sanji_wenan_jixiangwu{border:1px solid #fff; padding:15px; position:relative; cursor:pointer}
.jjal_sanji_wenan_jixiangwu img{width:100%; position:relative; z-index:2}
.jjal_sanji_gongzai1{position:absolute !important; right:2%; top:-24%; width:auto !important; z-index:3 !important}

.jjal_sanji_bg1_div{ position:relative; width:100%; background:#fff; height:100%}
.jjal_sanji_bg1{ position:absolute !important; z-index:3 !important}
.jjal_sanji_gongzai2{position:absolute !important; left:-12%; top:50%; transform:translateY(-50%); width:auto !important; z-index:1 !important}
.jjal_sanji_gongzai3{position:absolute !important; right:-13%; top:50%; transform:translateY(-50%); width:auto !important; z-index:1 !important}

.jjal_sanji_wenan_bt{padding:30px;}
.jjal_sanji_wenan_bt p{ border-bottom:1px solid #fff; font-size:20px; color:#fff; letter-spacing:3px; line-height:55px; margin-bottom:0}
.jjal_sanji_wenan_zhoubian{margin-bottom:10vh}
.jjal_sanji_wenan_zhoubian .col-md-3{ margin-bottom:30px; position:relative; cursor:pointer}
.jjal_sanji_wenan_zhoubian .col-md-3 span{ position:absolute; left:15px; right:15px; top:0; bottom:0; background:rgba(0,0,0,0.3);
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s; opacity:0}
.jjal_sanji_wenan_zhoubian .col-md-3:hover .jjal_sanji_vi_span{opacity:1}
.jjal_sanji_wenan_span_hei{opacity:1 !important;}

.jjal_sanji_shipin_da{position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.5); z-index:9999; display:none}
.jjal_sanji_shipin{width:65%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background:#fff;}
.jjal_sanji_shipin video{width:100% !important; }
.chacha{ width:40px; height:40px; position:absolute; right:-80px; border:none; cursor:pointer}






/*匠几服务*/
#picc .item img{ margin:0 auto; margin-bottom:4vh}
.jjfw_bt{font-size:24px; color:#fff; text-align:center} 
.jjfw_btn{text-align:center; margin-top:5vh; margin-bottom:5vh}
.jjfw_btn span{ padding:4px 14px; background:#fff; color:#8d8d8d; margin:0 5px; font-size:15px; letter-spacing:2px}
.jjfw_neirong{padding:0 3vh; border:1px solid #fff; width:80%; margin-left:10%; font-size:16px; color:#fff; line-height:30px; letter-spacing:2px; min-height:20vh;
display: box;
display: -webkit-box;
display: -moz-box;
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-box-align:center;
-moz-box-align:center; }

#jjfw_ol{ width:100% !important; position:absolute !important; left:0 !important; margin:0 !important; bottom:-15vh !important;}
#jjfw_ol li{ margin:2vw}

#aaaa{background:url(../images/jjfw_lb1.png); width:46px; height:46px; position:relative; border:0;}
#bbbb{background:url(../images/jjfw_lb2.png); width:46px; height:46px; position:relative; border:0;}
#cccc{background:url(../images/jjfw_lb3.png); width:46px; height:46px; position:relative; border:0;}
#dddd{background:url(../images/jjfw_lb4.png); width:46px; height:46px; position:relative; border:0;}
#eeee{background:url(../images/jjfw_lb5.png); width:46px; height:46px; position:relative; border:0;}
#ffff{background:url(../images/jjfw_lb6.png); width:46px; height:46px; position:relative; border:0;}
#gggg{background:url(../images/jjfw_lb7.png); width:46px; height:46px; position:relative; border:0;}
.jjfw_lo_span{position:absolute; top:50%; left:50%; display:block; height:1px; background:#ffffff; width:0%;
 transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}

#jjfw_ol li.active .jjfw_lo_span{width:160%; left:-30%;}













@media screen and (max-width: 1500px) {
	
	.lxjj_dian{position:absolute; right:16%; top:43%; width:36px; height:36px}
	body{ font-family:"苹方黑体-纤细-简" !important; font-size:16px; background:#b3b8ba; font-weight:700 !important}
	
	.jjal_sanji_gongzai2{ display: none !important}
	.jjal_sanji_gongzai3{ display: none !important}
  /*团队信息固定及弹出*/
  .index_tuandui_tan{ position: fixed; top:17vh; left:35%; right:35%; background:#fff; border-radius:20px; padding:4vh; z-index:9999;}
  .index_youshang_tan{ position: fixed; top:17vh; left:25%; right:25%; background:#fff; border-radius:20px; padding:7vh; z-index:9999; display:none;
  -webkit-box-shadow:0 10px 10px rgba(100, 100, 100, .5);  
  -moz-box-shadow:0 10px 10px rgba(100, 100, 100, .5);  
  box-shadow:0 10px 10px rgba(100, 100, 100, .5);  }
  
}

@media screen and (max-width: 1100px) {
	.container{width:90% !important}
	.lxjj_dian{position:absolute; right:17%; top:43%; width:26px; height:26px}
	.index_ppal_wenzi_da{ position: absolute !important; right:0; top:0%;}
	.index_ppal_wenzi{display:block; padding:15px; width:100%; padding-left:10%; padding-top:0}
	
	.jjal_sanji_gongzai2{ display: none !important}
	.jjal_sanji_gongzai3{ display: none !important}
	
	
}
























