@charset "utf-8";
/* CSS Document */
body{ font-family:"苹方黑体-简" !important; font-size:16px; background:#b3b8ba; font-weight:700 !important}
.hello span{color:#ffffff}

@font-face {
 font-family: '苹方黑体-简';
 src: url('../yd_font/pingfangjian.eot');
 src: local('苹方黑体-简'),
              local('苹方黑体-简'),
              url('../yd_font/pingfangjian.woff') format('woff'),
              url('../yd_font/pingfangjian.ttf') format('truetype'),
              url('../yd_font/pingfangjian.svg#苹方黑体-简') format('svg');
} 

/* bootstrap幻灯效果给淡入淡出 */

.carousel-fade .carousel-inner .item{
  opacity:0;
  -webkit-transition-property:opacity ;
  -moz-transition-property:opacity ;
  -ms-transition-property:opacity ;
  -o-transition-property:opacity ;
  transition-property:opacity ;
}

.carousel-fade .carousel-inner .active{
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{
  left: 0;
  opacity: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}





/*导航*/
  
  #anniu_ceng1{display:inline-block; line-height:43px; text-align:center; cursor:pointer}
  
  .mobile {
      position: absolute; width:20vw; height:10vh; top:0; right:0;
    overflow: hidden;
    
  }
  .daohang_daceng {
      position: fixed; width:100vw; height:100vh; top:0; right:0;
    overflow: hidden; transform: translateX(100vw);transition: all 0.5s; background:#959595; z-index:2000;
  }
  #tm {display: none;}
  .mobile section {
    position: relative; z-index:9997;
  }
  .mobile section label {
    text-align:right;

    display: block; 
    position: absolute; right:95px; top:4vh;
    z-index:9999;
    cursor: pointer; text-transform: uppercase;
  }
  .sidenav {
    width: 100vw;position: absolute; right: 0; top: 0; bottom: 0; padding-top: 10vh; 
    padding-left:65px; padding-right:65px
  }
  .sidenav a { color: white; text-decoration: none; }
  .sidenav li{font-size:40px !important; color:#fff; text-align:left; list-style:none; letter-spacing:2px; border-bottom:1px solid #fff; line-height:100px; padding-left:20px;
        margin-bottom:50px;}
  .sidenav li span{font-size:25px;}
  .sidenav li b img{transition: all 0.5s; transform: translateX(-50%); position:absolute; left:50%;}
  .sidenav b {
    width:100%; text-align:center; display: block;
    opacity: 1; position:relative;
  }
  
  #tm:checked ~ .daohang_daceng {transform: translateX(0px); }
  #tm:checked ~ .mobile { width:100vw; height:100vh}
  .html{overflow:hidden !important;}
  
  .sidenav li:nth-child(1){ margin-top:5vh}
  .daohangbianhei{background:#959595 !important}



/*首页*/

.index_daohang_zhezhao{ width:100%; height:100%; position:absolute; left:0; top:0; z-index:9999}
.fixed_daohang{position:fixed !important; top:0 !important; left:0 !important; width:100% !important; z-index:9999 !important}
.index_daohang{background:#bbbfc1; text-align:center; position:absolute; left:0; top:0; padding:15px; padding-top:0; padding-bottom:26px; z-index:999;}
.index_daohang img{display:inline-block}
.index_logoceng img{ margin-top:20px}
.index_anniuceng{position:absolute; right:0}

.index_zhuti_title{text-align:center; margin-bottom:50px}
.index_zhuti_title img{display:inline-block}





/*首页--匠几服务*/
.index_zhuti_jjfw_1{font-size:33px; color:#fff; padding:0 15px; text-align:center; line-height:55px; letter-spacing:2px;}
#picc .item{text-align:center; width:100% !important}
#picc .item img{ margin-bottom:30px; display:inline-block; width:560px; height:500px}
.jjfw_bt{font-size:38px; color:#fff; text-align:center} 
#jjfw_ol{ width:100% !important; position:absolute !important; left:0 !important; right:0 !important; margin:0 !important; bottom:-8vh !important;}
#jjfw_ol li{ margin:2vw}

#aaaa{background:url(../yd_images/jjfw_1.png); width:83px; height:82px; position:relative; border:0;}
#bbbb{background:url(../yd_images/jjfw_2.png); width:83px; height:82px; position:relative; border:0;}
#cccc{background:url(../yd_images/jjfw_3.png); width:83px; height:82px; position:relative; border:0;}
#dddd{background:url(../yd_images/jjfw_4.png); width:83px; height:82px; position:relative; border:0;}
#eeee{background:url(../yd_images/jjfw_5.png); width:83px; height:82px; position:relative; border:0;}
#ffff{background:url(../yd_images/jjfw_6.png); width:83px; height:82px; position:relative; border:0;}
#gggg{background:url(../yd_images/jjfw_7.png); width:83px; height:82px; position:relative; border:0;}
.jjfw_lo_span{position:absolute; top:50%; left:50%; display:block; height:1px; background:#ffffff; width:0%;
 transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}

#jjfw_ol li.active .jjfw_lo_span{width:160%; left:-30%;}

.index_zhuti_jjfw_2{margin-top:40px}


/*首页--匠几案例*/
.index_zhuti_jjal_1{ position:relative}
.index_zhuti_jjal_1 .item div{border:1px solid #fff; width:80%; margin:0 auto; padding:15px}
.index_zhuti_jjal_1 .item div img{ width:100%}
.index_zhuti_jjal_2{font-size:50px; font-weight:700; color:#fff; border:none !important; padding:0 !important; letter-spacing:2px; margin-top:5vh !important; margin-bottom:3vh !important}
.index_zhuti_jjal_2 a{font-size:30px !important; font-weight: normal !important; border:1px solid #fff; padding:5px 20px !important;
 color:#fff !important; float:right; margin-top:5px;}
.index_zhuti_jjal_2 a img{display:inline-block; width:auto !important; margin-left:5px}
.index_zhuti_jjal_3{font-size:38px !important; color:#fff; border:none !important; padding:0 !important; letter-spacing:2px;}
.index_zhuti_jjal_4{text-align:center; margin-top:6vh}
.index_zhuti_jjal_4 a{font-size:32px !important; font-weight: normal !important; border:1px solid #fff; padding:20px 15% !important;
 color:#fff !important; position:relative}
.index_zhuti_jjal_4 a img{display:inline-block; width:auto !important; position:absolute; right:5%; top:50%; transform:translateY(-40%)}

.left1{position:absolute; top:25%; left:15px !important; width:52px; height:90px; background: none !important; transform:translateY(-50%); opacity:1 !important;}
.right1{position:absolute; top:25%; right:15px !important; width:52px; height:90px; background: none !important; transform:translateY(-50%); opacity:1 !important;}



/*首页--匠几团队*/
.index_zhuti_jjtd_1{position:relative}
.index_zhuti_jjtd_1 .item .col-md-4{ padding:0; text-align:center}
.index_zhuti_jjtd_1 .item .col-md-4 img{ display:inline-block}

.left2{position:absolute; top: inherit !important; bottom:-30%; left:30% !important; width:92px; height:92px; background: none !important; opacity:1 !important;}
.right2{position:absolute; top: inherit !important; bottom:-30%; right:30% !important; width:92px; height:92px; background: none !important; opacity:1 !important;}



/*首页--匠几动态*/
.index_zhuti_jjdt_1{width:90%; margin:0 auto !important}
.index_zhuti_jjdt_1 img{width:100%}
.index_zhuti_jjdt_2{width:100%; padding:0 15px; font-size:40px !important; color:#fff; letter-spacing:2px; margin-top:1vh}
.index_zhuti_jjdt_2 span{width:8%; height:12vh; border:1px solid #fff; display:inline-block; float:left; margin-right:15px; margin-top:-6vh; position:relative; z-index:2}
.index_zhuti_jjdt_2 b{ font-size:26px; font-weight:normal !important}

.index_zhuti_jjdt_3{width:97%; margin:0 auto; margin-top:6vh}
.index_zhuti_jjdt_3 .col-md-3 div{position: absolute; left:0; top:0; bottom:0; height:100%; width:100%; padding:0 15px; z-index:2}
.index_zhuti_jjdt_3 span{display:inline-block; background:rgba(0,0,0,0.3); width:100%; height:100%; opacity:0}
.index_zhuti_jjdt_3 .col-md-3:hover .index_zhuti_jjdt_3_span{ opacity:1}
#index_jjdt2,#index_jjdt3,#index_jjdt4{display:none}



/*首页--合作流程*/
.index_zhuti_hzlc_1{ width:96%; margin:0 auto}


/*底部*/
.index_dibu{font-size:30px; color:#fff; text-align:center;}
.index_dibu img{display:inline-block}
.index_dibu .row{ padding:2vh 0; background:#bbbfc1}
.index_dibu_top_guding{position:fixed; bottom:15vh; right:30px; width:120px; height:120px; margin-right:15px; z-index:998}

/*匠几服务二级*/
.jjfw_1{text-align:center; margin-bottom:10vh}
.jjfw_1 img{ display:inline-block; margin-bottom:4vh}
.jjfw_bt{font-size:42px; color:#fff; margin-bottom:40px}
.jjfw_btn{padding:0 5%; margin-bottom:2vh; color:#b3b8ba !important}
.jjfw_btn2{padding:0 5%; color:#b3b8ba !important}
.jjfw_btn3{padding:0; color:#b3b8ba !important}
.jjfw_btn3 span{ font-size:34px; display:inline-block; margin-left:3%;background:#fff; text-align:center; padding:3px 2%}
.jjfw_btn span{ font-size:34px; display:inline-block; margin-left:5%;background:#fff; text-align:center; padding:3px 2%}
.jjfw_btn2 span{ font-size:34px; display:inline-block; margin-left:5%;background:#fff; text-align:center; padding:3px 2%}
.jjfw_neirong{font-size:40px; letter-spacing:2px; color:#fff; width:90%; margin:0 auto; padding:2vh; border:1px solid #fff; text-align:left !important; text-indent:2em; margin-top:4vh}


/*匠几文化二级*/
.jjwh_1{text-align:center; padding:0 30px}
.jjwh_1 img{display:inline-block; margin-bottom:10vh}

/*配套采购二级*/
.ptcg_1{padding:0}

/*匠几动态二级*/
.jjdt_2{padding:0 40px; margin-bottom:4vh}
.jjdt_2 div{ width:22%; margin-right:4%; border:1px solid #fff; position:relative; font-size:36px; color:#fff; text-align:center; float:left; padding:2px 0}
.jjdt_2 div span{ width:0%; position:absolute; height:1px; background:#fff; top:50%; left:50%;
 transition:all 0.3s; -moz-transition:all 0.2s; -o-transition:all 0.2s; -webkit-transition:all 0.2s}
.jjdt_2_span_active{ width:120% !important; position:absolute; height:1px; background:#fff; top:50%; left:-10% !important;}
.jjdt_2 div:hover .jjdt_2_span{ width:120% !important; left:-10% !important}
.jjdt_3{padding:0 40px; position:relative; margin-bottom:2vh}
.jjdt_3_baikuang{width:100%; border:1px solid #fff; position:relative; height:100%; padding:30px}
.jjdt_3 .col-md-6{ padding:0}
.jjdt_3 .col-md-6 img{ width:100%;}
.jjdt_3_bt{font-size:30px; color:#fff; margin-bottom:20px; letter-spacing:2px;}
.jjdt_3_nr{font-size:22px; color:#fff; margin-bottom:30px; letter-spacing:2px}
.jjdt_3_sj{font-size:22px; color:#fff; letter-spacing:2px; position:absolute; right:20px; bottom:20px;}
.jjdt_3_bq{ font-size:28px; color:#b3b8ba; background:#fff; padding:20px 15px; position:absolute; left:50px; top:0}

#jjdt_zhuti2,#jjdt_zhuti3,#jjdt_zhuti4{display:none;}

/*匠几案例二级*/
.jjal_alnr_daceng{padding:0 50px; margin-bottom:85px}

.jjal_albt1{font-size:30px; color:#fff; letter-spacing:2px; margin:50px 0 20px 0; border-bottom:1px solid #fff; line-height:68px}
.jjal_alnr{font-size:20px; color:#fff; letter-spacing:2px;}

.jjal_span_hei{ position:absolute; left:0; top:0; bottom:0; right:0; background:rgba(0,0,0,0.3); opacity:1;
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.slick-active .jjal_span_hei{opacity:0}
.jjal_al_pbl .col-md-6{margin-bottom:7vh}
.jjal_al_pbl_bt{font-size:48px; color:#fff; text-align:center; margin-top:95px; margin-bottom:50px; text-align:center; line-height:30px}
.jjal_al_pbl_bt img{display:inline-block}

.jjal_al_moreal{ padding:0 50px;}
.jjal_al_moreal img{width:100%;}


/*匠几案例--三级*/
.jjal_sanji_logo{text-align:center; margin:0 0 70px 0; position:relative;}
.jjal_sanji_logo div{text-align:left; display:inline-block; font-size:30px; color:#fff; border-left:2px solid #fff; padding-left:20px; transform:translateY(30%); margin-left:20px}
.jjal_sanji_logo div p{ margin:5px 0}


#jjal_sanji_mianban2,#jjal_sanji_mianban3,#jjal_sanji_mianban4,#jjal_sanji_mianban6,#jjal_sanji_mianban7,#jjal_sanji_mianban8,#jjal_sanji_mianban10,#jjal_sanji_mianban11,#jjal_sanji_mianban12,#jjal_sanji_mianban14,#jjal_sanji_mianban15,#jjal_sanji_mianban16,#jjal_sanji_mianban18,#jjal_sanji_mianban19,#jjal_sanji_mianban20{display:none}
.jjal_sanji_wenan{padding:0px 50px}
.jjal_sanji_logo img{display:inline-block}
.jjal_sanji_wenan_jixiangwu{border:1px solid #fff; padding:15px; position:relative; cursor:pointer}
.jjal_sanji_wenan_jixiangwu img{width:100%; position:relative; z-index:2}
.jjal_sanji_gongzai1{position:absolute !important; right:2%; top:-24%; width:auto !important; z-index:3 !important}

.jjal_sanji_bg1_div{ position:relative; width:100%; background:#fff; height:100%}
.jjal_sanji_bg1{ position:absolute !important; z-index:3 !important}
.jjal_sanji_gongzai2{position:absolute !important; left:-12%; top:50%; transform:translateY(-50%); width:auto !important; z-index:1 !important}
.jjal_sanji_gongzai3{position:absolute !important; right:-13%; top:50%; transform:translateY(-50%); width:auto !important; z-index:1 !important}

.jjal_sanji_wenan_bt{padding:0; margin-top:50px; margin-bottom:20px}
.jjal_sanji_wenan_bt p{ border-bottom:1px solid #fff; font-size:28px; color:#fff; letter-spacing:3px; line-height:55px; margin-bottom:0; padding-left:10px}
.jjal_sanji_wenan_zhoubian{margin-bottom:60px}
.jjal_sanji_wenan_zhoubian .col-md-6{ margin-bottom:30px; position:relative; cursor:pointer}
.jjal_sanji_wenan_zhoubian .col-md-6 span{ position:absolute; left:15px; right:15px; top:0; bottom:0; background:rgba(0,0,0,0.3);
transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s; opacity:0}
.jjal_sanji_wenan_zhoubian .col-md-3:hover .jjal_sanji_vi_span{opacity:1}
.jjal_sanji_wenan_span_hei{opacity:1 !important;}

.jjal_sanji_shipin_da{position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.5); z-index:9999; display:none}
.jjal_sanji_shipin{width:65%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background:#fff;}
.jjal_sanji_shipin video{width:100% !important; }
.chacha{ width:40px; height:40px; position:absolute; right:-80px; border:none; cursor:pointer}

/*匠几动态三级——1*/
.jjdt_snaji_mianbaoxie{font-size:14px; color:#fff; padding-left:60px; margin-top:5vh;}
.jjdt_sanji_bt{ font-size:34px; color:#FFF; font-weight:700; letter-spacing:3px; text-align:center; position:relative}
.jjdt_sanji_bt span{ padding:0px 20px 0px 23px; width:auto; position:relative; display:inline-block}
.jjdt_sanji_bt b{ font-size:20px !important; letter-spacing:2px !important;}
.jjdt_sanji_nr{text-align:center; margin-top:50px; font-size:24px !important; color:#fff; letter-spacing:2px;}
.jjdt_sanji_nr p{ margin-bottom:20px; text-align:left !important}
.jjdt_sanji_nr img{display:inline-block}
.jjdt_sanji_baixian{height:1px; background:#fff; margin-bottom:10vh !important;}
.jjdt_sanji_nr .col-md-12{padding:0; position:relative; font-size:24px; color:#fff; letter-spacing:3px; line-height:35px;}
.jjdt_sanji_nr_zuoda .col-md-12 img{padding:10px; border:1px solid #fff}
.jjdt_sanji_nr_zuoda .col-md-12{margin-top:50px; margin-bottom:50px;}


.jjdt_sanji_nr1{width:80%; margin-left:10%}
.jjdt_sanji_nr1 ul{ list-style-image:url(../yd_images/dongtai_sanji0.png); text-align:left !important; margin-bottom:0; padding-left:0px}
.jjdt_sanji_nr1 ul li{ padding-left:5px; margin-bottom:20px;}
.jjdt_sanji_nr .col-md-6 img{width:100%}
.jjdt_sanji_zuotu{padding-right:20px !important}
.jjdt_sanji_youtu{padding-left:20px !important; margin-left:50%}


.jjdt_sanji_youwenzi{position:absolute; right:0; top:50%; transform:translate(0,-50%)}
.jjdt_sanji_zuowenzi{position:absolute; left:0; top:50%; transform:translate(0,-50%); padding-right:20px !important;}
.jjdt_sanji_zuowenzi ul{ padding-left:20px !important}

.jjdt_sanji_santu{width:80%; margin-left:10%; margin-top:50px}
.jjdt_sanji_santu .col-md-12{ margin-bottom:50px}
.jjdt_sanji_santu .col-md-12 div img{ width:100%}
.jjdt_sanji_santu .col-md-12 div{ width:100% ;padding:15px; border:1px solid #fff; display:inline-block; margin-bottom:30px}


/*匠几动态三级——2*/
.jjdt_sanji2_tuzi1{position:absolute; right:100px; top:-150px}
.jjdt_sanji2_1{font-size:24px; color:#fff; line-height:35px; letter-spacing:3px; width:90%; margin:0 auto; margin-top:30px;}
.jjdt_sanji2_1 span{font-size:30px;}
.jjdt_sanji2_2{width:90%; margin:70px auto; position:relative}
.jjdt_sanji2_2 .col-md-6 img{ width:100% !important}
.jjdt_sanji2_tuzi2{ position:absolute; left:0px; top:0}
.jjdt_sanji2_tuzi3{position:absolute; right:0; top:0} 
.jjdt_sanji2_3{ margin:80px 0; font-size:22px; color:#fff; text-align:center; line-height:35px; letter-spacing:3px}
.jjdt_sanji2_3 .col-md-4 img{ width:100%; margin-bottom:20px}
.jjdt_sanji2_4{padding:0 30px 0 45px; margin-bottom:50px}
.jjdt_sanji2_4 .col-md-7{position:relative; padding:0}
.jjdt_sanji2_4 .col-md-7 img{ width:100%}
.jjdt_sanji2_4 .col-md-7 span{ width:100%; position:absolute; height:100%; border:2px solid #fff; left:-15px; top:-15px; z-index:-1}
.jjdt_sanji2_4 .col-md-5{ font-size:26px; color:#fff; padding-left:60px; padding-right:0; line-height:55px; letter-spacing:3px}

.jjdt_sanji2_5{font-size:24px; color:#fff; text-align:center;width:90%; margin:0 auto}
.jjdt_sanji2_5 .col-md-6{margin-bottom:40px}
.jjdt_sanji2_5 .col-md-6 img{ width:100%; margin-bottom:25px}
.jjdt_sanji2_5 .col-md-6 p{ height:70px; overflow:hidden}

.jjdt_sanji2_6{width:80%; margin:0 auto;}
.jjdt_sanji2_7{font-size:24px; color:#fff; text-align:center;width:90%; margin:0 auto; position:relative; margin-bottom:50px}
.jjdt_sanji2_7 .col-md-8 img{width:100%} 
.jjdt_sanji2_tuzi4{position:absolute; left:0; bottom:-50px}


/*匠几动态三级——3*/
.jjdt_sanji3_1{font-size:24px; color:#fff; line-height:35px; letter-spacing:3px; width:90%; margin:0 auto; margin-top:30px; text-indent:2em}
.jjdt_sanji3_1 span{font-size:30px;}

.jjdt_sanji2_nr_img1{padding:15px; background:#fff; width:inherit; position:relative; width:100%}
.jjdt_sanji2_nr_img1 img{ width:100% !important;}
.jjdt_sanji2_nr_img1 span{ position:absolute; width:100%; display:inline-block; top:-15px; bottom:15px; right:-15px; border:2px solid #fff; z-index:-1}

.jjdt_sanji2_nr_img2{padding:15px; border:2px solid #fff; width:inherit; position:relative; width:100%}
.jjdt_sanji2_nr_img2 img{ width:100% !important;}
.jjdt_sanji2_nr_img2 span{ position:absolute; width:100%; display:inline-block; top:-15px; bottom:15px; left:-15px; border:2px solid #fff; z-index:-1}


/*联系匠几二级*/
.lxjj_daceng{padding:0 15px; position:relative}
.lxjj_daceng img{ width:100%; margin-top:-30px}
.lijj_dian{position:absolute; top:25%; right:24.5%; width:90px !important; height:90px}





@media screen and (max-width: 1500px) {
	.container{width:80% !important}
	html{font-size:7px}
	.lxjj_dian{position:absolute; right:16%; top:43%; width:36px; height:36px}

}

@media screen and (max-width: 1100px) {
	.container{width:90% !important}
	.lxjj_dian{position:absolute; right:17%; top:43%; width:26px; height:26px}
	.index_ppal_wenzi_da{ position: absolute !important; right:0; top:0%;}
	.index_ppal_wenzi{display:block; padding:15px; width:100%; padding-left:10%; padding-top:0}
}
























