/* line 17, ../sass/component/global.scss */
.top-content {
  position: relative;
  padding: 60px 60px 100px 60px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* line 45, ../sass/component/global.scss */
.top-content > .border {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* line 52, ../sass/component/global.scss */
.top-content > .border > .bottom {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
}
/* line 57, ../sass/component/global.scss */
.top-content > .border > .bottom > .bottom-table {
  width: 100%;
  height: 46px;
  display: table;
}
/* line 61, ../sass/component/global.scss */
.top-content > .border > .bottom > .bottom-table > .side-cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 64, ../sass/component/global.scss */
.top-content > .border > .bottom > .bottom-table > .side-cell > p {
  height: 1px;
  background: #fff;
  margin: 0;
}
/* line 70, ../sass/component/global.scss */
.top-content > .border > .bottom > .bottom-table > .center-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 28px;
}

/* line 85, ../sass/component/global.scss */
.btn-so-ai {
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid #fff;
  white-space: nowrap;
  padding: 10px 24px;
  font-size: 13px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 104, ../sass/component/global.scss */
.btn-so-ai:hover {
  color: #fff;
  text-decoration: none;
  background-color: #dadada;
}

@media only screen and (max-width: 1200px) {
  /* line 111, ../sass/component/global.scss */
  .hidden-1200 {
    display: none !important;
  }
}

/* line 116, ../sass/component/global.scss */
.nav-paging {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding-top: 9px;
  padding-bottom: 18px;
}

/* line 1, ../sass/component/typography.scss */
.roboto {
  font-family: 'Roboto', sans-serif;
}

/* line 4, ../sass/component/typography.scss */
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* line 9, ../sass/component/typography.scss */
.bolder {
  font-weight: 500;
}

/* line 12, ../sass/component/typography.scss */
.bold {
  font-weight: 700;
}

/* line 17, ../sass/component/typography.scss */
.tracking-1 {
  letter-spacing: 0.1em;
}

/* line 20, ../sass/component/typography.scss */
.tracking-2 {
  letter-spacing: 0.2em;
}

/* line 25, ../sass/component/typography.scss */
.line-height-2 {
  line-height: 2;
}

/* line 30, ../sass/component/typography.scss */
.tategaki {
  width: 40px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  float: right;
  padding: 0 5px;
}
/* line 37, ../sass/component/typography.scss */
.tategaki > .komoji {
  display: block;
  line-height: 0.75em !Important;
  margin-bottom: 0.3em;
  margin-left: 0.31em !Important;
}
/* line 43, ../sass/component/typography.scss */
.tategaki > .kuto {
  display: block;
  line-height: 0em !Important;
  margin-left: 1em !Important;
}
/* line 48, ../sass/component/typography.scss */
.tategaki > .kakko {
  display: block;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* line 59, ../sass/component/typography.scss */
.rounded-text {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: -35px;
  left: -12px;
}
/* line 65, ../sass/component/typography.scss */
.rounded-text span {
  position: absolute;
  height: 100px;
  width: 20px;
  left: 0;
  top: -50px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}
/* line 74, ../sass/component/typography.scss */
.rounded-text.hello {
  margin-left: 6px;
}
/* line 76, ../sass/component/typography.scss */
.rounded-text.hello span {
  height: 140px;
  width: 10px;
}

/* line 1, ../sass/component/frame.scss */
#page {
  position: relative;
  height: 100%;
}
/* line 5, ../sass/component/frame.scss */
#page.fixed > .top, #page.fixed > .bottom, #page.fixed > .left, #page.fixed > .right, #page.fixed > .top-left, #page.fixed > .top-right, #page.fixed > .bottom-left, #page.fixed > .bottom-right, #page.fixed > nav, #page.fixed .logo {
  position: fixed;
  z-index:9999
}
/* line 10, ../sass/component/frame.scss */
#page.fixed-fixed > .top, #page.fixed-fixed > .bottom, #page.fixed-fixed > .left, #page.fixed-fixed > .right, #page.fixed-fixed > .top-left, #page.fixed-fixed > .top-right, #page.fixed-fixed > .bottom-left, #page.fixed-fixed > .bottom-right, #page.fixed-fixed > nav {
  position: fixed !important;
}
/* line 15, ../sass/component/frame.scss */
#page > .top, #page > .bottom, #page > .left, #page > .right, #page > .top-left, #page > .top-right, #page > .bottom-left, #page > .bottom-right {
  position: absolute;
  background-color: #b3b8ba;
  background-position: center;
  z-index: 10;
}
/* line 21, ../sass/component/frame.scss */
#page > .top {
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-image: url(../yd_images/bg-frame-top.png);
  background-repeat: repeat-x;
  border-bottom: 1px solid #fff;
}
/* line 30, ../sass/component/frame.scss */
#page > .bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-image: url(../yd_images/bg-frame-bottom.png);
  background-repeat: repeat-x;
  border-top: 1px solid #fff;
}
/* line 39, ../sass/component/frame.scss */
#page > .left {
  top: 0;
  left: 0;
  width: 45px;
  height: 100%;
  background-image: url(../yd_images/bg-frame-left.png);
  background-repeat: repeat-y;
  border-right: 1px solid #fff;
}
/* line 48, ../sass/component/frame.scss */
#page > .right {
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background-image: url(../yd_images/bg-frame-right.png);
  background-repeat: repeat-y;
  border-left: 1px solid #fff;
}
/* line 57, ../sass/component/frame.scss */
#page > .bottom-right {
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-image: url(../yd_images/bg-frame-right-bottom.png);
  background-repeat: no-repeat;
}
/* line 65, ../sass/component/frame.scss */
#page > .bottom-left {
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: url(../yd_images/bg-frame-bottom-left.png);
  background-repeat: no-repeat;
}
/* line 73, ../sass/component/frame.scss */
#page > .top-left {
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: url(../yd_images/bg-frame-top-left.png);
  background-repeat: no-repeat;
}
/* line 81, ../sass/component/frame.scss */
#page > .top-right {
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-image: url(../yd_images/bg-frame-top-right.png);
  background-repeat: no-repeat;
}
/* line 89, ../sass/component/frame.scss */
#page > .nav-lg {
  position: absolute;
  background-color: #b3b8ba;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 70px;
  top: 45px;
  left: 0;
  z-index: 10;
  display: table;
  table-layout: fixed;
}
/* line 100, ../sass/component/frame.scss */
#page > .nav-lg > div {
  display: table-cell;
  letter-spacing: 0.1em;
}
/* line 105, ../sass/component/frame.scss */
#page > .nav-lg > div a {
  color: #fff;
  outline:none !important;
  text-decoration:none !important
}
/* line 107, ../sass/component/frame.scss */
#page > .nav-lg > div a:hover {
  color: #fff;
}
/* line 113, ../sass/component/frame.scss */
#page > .logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
}

/* line 121, ../sass/component/frame.scss */
.btn-reservation {
  border: 1px solid #fff;
  padding: 6px 12px;
  background-color: transparent;
  font-weight: bold;
}
/* line 126, ../sass/component/frame.scss */
.btn-reservation:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 1, ../sass/component/concept.scss */
.border-cube {
  border: 2px solid #fff;
  padding: 10px 18px;
  display: inline-block;
  font-size: 38px;
  margin-bottom: 30px;
}

/* line 1, ../sass/component/place.scss */
.time-table {
  text-align: center;
  table-layout: fixed;
  border-top: 1px solid #333;
  background-color: #fff;
  color: #222;
}
/* line 7, ../sass/component/place.scss */
.time-table > tbody > tr {
  height: 50px;
}
/* line 10, ../sass/component/place.scss */
.time-table > thead > tr > td, .time-table > tbody > tr > td, .time-table > tbody > tr > th {
  vertical-align: middle !important;
  text-align: center;
}
/* line 14, ../sass/component/place.scss */
.time-table > thead, .time-table > tbody > tr > th {
  background-image: url("../yd_images/place-timetable-bg.png");
  background-image: -webkit-image-set(url("../yd_images/place-timetable-bg.png") 1x, url("../yd_images/place-timetable-bg@2x.png") 2x);
  background-image: image-set(url("../yd_images/place-timetable-bg.png") 1x, url("../yd_images/place-timetable-bg@2x.png") 2x);
}

/* line 18, ../sass/component/place.scss */
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

/* line 22, ../sass/component/place.scss */
#map-canvas {
  height: 220px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  /* line 22, ../sass/component/place.scss */
  #map-canvas {
    height: 400px;
  }
}

/* line 1, ../sass/component/member.scss */
.message {
  position: absolute;
  top: 100px;
  width: 450px;
  z-index: 1;
}
@media only screen and (min-width: 815px) {
  /* line 1, ../sass/component/member.scss */
  .message {
    top: 20px;
  }
}
@media only screen and (min-width: 1052px) {
  /* line 1, ../sass/component/member.scss */
  .message {
    top: 100px;
  }
}
/* line 13, ../sass/component/member.scss */
.message.left {
  right: 15px;
  padding-left: 60px;
  padding-right: 20px;
}
/* line 17, ../sass/component/member.scss */
.message.left:before {
  content: ' ';
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../yd_images/member-balloon-left.png");
  background-image: -webkit-image-set(url("../yd_images/member-balloon-left.png") 1x, url("../yd_images/member-balloon-left@2x.png") 2x);
  background-image: image-set(url("../yd_images/member-balloon-left.png") 1x, url("../yd_images/member-balloon-left@2x.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 28, ../sass/component/member.scss */
.message.left:after {
  content: ' ';
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
/* line 38, ../sass/component/member.scss */
.message.right {
  left: 15px;
  padding-left: 20px;
  padding-right: 60px;
}
/* line 42, ../sass/component/member.scss */
.message.right:before {
  content: ' ';
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../yd_images/member-balloon-right.png");
  background-image: -webkit-image-set(url("../yd_images/member-balloon-right.png") 1x, url("../yd_images/member-balloon-right@2x.png") 2x);
  background-image: image-set(url("../yd_images/member-balloon-right.png") 1x, url("../yd_images/member-balloon-right@2x.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 53, ../sass/component/member.scss */
.message.right:after {
  content: ' ';
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* line 1, ../sass/component/whatwecando.scss */
.circle {
  width: 100%;
  background-color: #fff;
  height: 215px;
  border-radius: 108px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
/* line 10, ../sass/component/whatwecando.scss */
.circle:hover {
  background-color: #ddd;
}
/* line 13, ../sass/component/whatwecando.scss */
.circle.tooth-decay {
  background-image: url("../yd_images/whatwecando-icon1.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon1.png") 1x, url("../yd_images/whatwecando-icon1@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon1.png") 1x, url("../yd_images/whatwecando-icon1@2x.png") 2x);
}
/* line 16, ../sass/component/whatwecando.scss */
.circle.crown {
  background-image: url("../yd_images/whatwecando-icon2.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon2.png") 1x, url("../yd_images/whatwecando-icon2@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon2.png") 1x, url("../yd_images/whatwecando-icon2@2x.png") 2x);
}
/* line 19, ../sass/component/whatwecando.scss */
.circle.cleaning {
  background-image: url("../yd_images/whatwecando-icon3.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon3.png") 1x, url("../yd_images/whatwecando-icon3@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon3.png") 1x, url("../yd_images/whatwecando-icon3@2x.png") 2x);
}
/* line 22, ../sass/component/whatwecando.scss */
.circle.wisdom-tooth {
  background-image: url("../yd_images/whatwecando-icon4.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon4.png") 1x, url("../yd_images/whatwecando-icon4@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon4.png") 1x, url("../yd_images/whatwecando-icon4@2x.png") 2x);
}
/* line 25, ../sass/component/whatwecando.scss */
.circle.stomatitis {
  background-image: url("../yd_images/whatwecando-icon5.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon5.png") 1x, url("../yd_images/whatwecando-icon5@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon5.png") 1x, url("../yd_images/whatwecando-icon5@2x.png") 2x);
}
/* line 28, ../sass/component/whatwecando.scss */
.circle.whitening {
  background-image: url("../yd_images/whatwecando-icon6.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon6.png") 1x, url("../yd_images/whatwecando-icon6@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon6.png") 1x, url("../yd_images/whatwecando-icon6@2x.png") 2x);
}
/* line 31, ../sass/component/whatwecando.scss */
.circle.maintanance {
  background-image: url("../yd_images/whatwecando-icon7.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon7.png") 1x, url("../yd_images/whatwecando-icon7@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon7.png") 1x, url("../yd_images/whatwecando-icon7@2x.png") 2x);
}
/* line 34, ../sass/component/whatwecando.scss */
.circle.chin {
  background-image: url("../yd_images/whatwecando-icon8.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon8.png") 1x, url("../yd_images/whatwecando-icon8@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon8.png") 1x, url("../yd_images/whatwecando-icon8@2x.png") 2x);
}
/* line 37, ../sass/component/whatwecando.scss */
.circle.orthodontic {
  background-image: url("../yd_images/whatwecando-icon9.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon9.png") 1x, url("../yd_images/whatwecando-icon9@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon9.png") 1x, url("../yd_images/whatwecando-icon9@2x.png") 2x);
}
/* line 40, ../sass/component/whatwecando.scss */
.circle.children {
  background-image: url("../yd_images/whatwecando-icon10.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon10.png") 1x, url("../yd_images/whatwecando-icon10@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon10.png") 1x, url("../yd_images/whatwecando-icon10@2x.png") 2x);
}
/* line 43, ../sass/component/whatwecando.scss */
.circle.conversation {
  background-image: url("../yd_images/whatwecando-icon11.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon11.png") 1x, url("../yd_images/whatwecando-icon11@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon11.png") 1x, url("../yd_images/whatwecando-icon11@2x.png") 2x);
}

/* line 48, ../sass/component/whatwecando.scss */
.margin-circle {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 53, ../sass/component/whatwecando.scss */
.build {
  height: 215px;
  width: 100%;
  padding-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
}
/* line 60, ../sass/component/whatwecando.scss */
.build.build-1 {
  background-image: url("../yd_images/whatwecando-icon12.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon12.png") 1x, url("../yd_images/whatwecando-icon12@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon12.png") 1x, url("../yd_images/whatwecando-icon12@2x.png") 2x);
}
/* line 63, ../sass/component/whatwecando.scss */
.build.build-2 {
  background-image: url("../yd_images/whatwecando-icon13.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon13.png") 1x, url("../yd_images/whatwecando-icon13@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon13.png") 1x, url("../yd_images/whatwecando-icon13@2x.png") 2x);
}
/* line 66, ../sass/component/whatwecando.scss */
.build.build-3 {
  background-image: url("../yd_images/whatwecando-icon14.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-icon14.png") 1x, url("../yd_images/whatwecando-icon14@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-icon14.png") 1x, url("../yd_images/whatwecando-icon14@2x.png") 2x);
}
/* line 69, ../sass/component/whatwecando.scss */
.build span {
  display: inline-block;
  width: 100px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../yd_images/whatwecando-border.png");
  background-image: -webkit-image-set(url("../yd_images/whatwecando-border.png") 1x, url("../yd_images/whatwecando-border@2x.png") 2x);
  background-image: image-set(url("../yd_images/whatwecando-border.png") 1x, url("../yd_images/whatwecando-border@2x.png") 2x);
}

/* line 1, ../sass/component/information.scss */
.slick-item {
  margin-left: 10px;
  margin-right: 10px;
  position:relative;
}
/* line 4, ../sass/component/information.scss */
.slick-item > img {
  height: 170px;
  width: auto;
}
@media only screen and (min-width: 815px) {
  /* line 4, ../sass/component/information.scss */
  .slick-item > img {
    height: auto;
    width: 100%;
  }
}

/* line 14, ../sass/component/information.scss */
.container-slick {
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (min-width: 815px) {
  /* line 14, ../sass/component/information.scss */
  .container-slick {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 23, ../sass/component/information.scss */
.slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  opacity: 0;
  width: 48px;
  height: 48px;
  background:none !important;
  border: none;
  border-radius: 24px;
  padding: 0;
  margin-top: -10px\9;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  z-index: 99;
}
@media only screen and (min-width: 815px) {
  /* line 23, ../sass/component/information.scss */
  .slick-arrow {
    opacity: 1;
  }
}
/* line 46, ../sass/component/information.scss */
.slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 49, ../sass/component/information.scss */
.slick-arrow:focus {
  outline: none;
}
/* line 52, ../sass/component/information.scss */
.slick-arrow:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0px;
  line-height: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 62, ../sass/component/information.scss */
.slick-next {
  right: 100px;
}
/* line 64, ../sass/component/information.scss */
.slick-next:before {
  content: url('../yd_images/jjtd_you.png');
  letter-spacing: -0.5em;
}

/* line 69, ../sass/component/information.scss */
.slick-prev {
  left: 100px;
}
/* line 71, ../sass/component/information.scss */
.slick-prev:before {
  content: url('../yd_images/jjtd_zuo.png');
  letter-spacing: -0.5em;
}

/* line 78, ../sass/component/information.scss */
#medical-appliance .col-sm-6, #medical-appliance .col-sm-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 82, ../sass/component/information.scss */
#medical-appliance h4 {
  margin-top: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
/* line 87, ../sass/component/information.scss */
#medical-appliance p {
  font-weight: bold;
}
/* line 90, ../sass/component/information.scss */
#medical-appliance .hover-wrapper {
  position: relative;
}
/* line 92, ../sass/component/information.scss */
#medical-appliance .hover-wrapper .hover-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 102, ../sass/component/information.scss */
#medical-appliance .hover-wrapper .hover-item:hover {
  opacity: 1;
}
/* line 105, ../sass/component/information.scss */
#medical-appliance .hover-wrapper .hover-item .icon-wapper {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 109, ../sass/component/information.scss */
#medical-appliance .hover-wrapper .hover-item .icon-wapper > div {
  margin-top: -45px;
  margin-left: -36px;
}

/* line 1, ../sass/component/top.scss */
.roundedtext-top {
  position: absolute;
  top: 80px;
  left: 50%;
}
@media only screen and (min-width: 815px) {
  /* line 1, ../sass/component/top.scss */
  .roundedtext-top {
    left: 135px;
  }
}

/* line 2, ../sass/component/single.scss */
article .category {
  background-color: #fff;
  color: #969797;
  padding: 5px 10px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 9, ../sass/component/single.scss */
article .section {
  padding: 20px 0;
}

/* line 1, ../sass/component/modal.scss */
.modal-content.material {
  border: none;
  border-radius: 2px;
  color: #333;
}
/* line 5, ../sass/component/modal.scss */
.modal-content.material > .modal-header {
  border: none;
  padding: 25px;
}
/* line 8, ../sass/component/modal.scss */
.modal-content.material > .modal-header > button {
  font-size: 40px;
}
/* line 12, ../sass/component/modal.scss */
.modal-content.material > .modal-footer {
  border: none;
}
/* line 15, ../sass/component/modal.scss */
.modal-content.material > .modal-body {
  padding: 25px;
}

/* line 1, ../sass/component/slider.scss */
.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 7, ../sass/component/slider.scss */
.slider-wrapper > .slider-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 15, ../sass/component/slider.scss */
.slider-wrapper > .slider-inner.after-load.item-3 {
  background-image: url("../yd_images/top-bg.jpg");
  background-image: -webkit-image-set(url("../yd_images/top-bg.jpg") 1x, url("../yd_images/top-bg-3.jpg") 2x);
  background-image: image-set(url("../yd_images/top-bg.jpg") 1x, url("../yd_images/top-bg-3.jpg") 2x);
}




/* line 15, ../sass/so-ai.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/so-ai.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 22, ../sass/so-ai.scss */
a.white {
  color: #fff;
}

/* line 26, ../sass/so-ai.scss */
.card {
  color: #333;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 30, ../sass/so-ai.scss */
.card .header {
  position: relative;
  border: 2px solid #fff;
  padding: 10px;
  height: 250px;
}
@media only screen and (min-width: 815px) {
  /* line 30, ../sass/so-ai.scss */
  .card .header {
    height: 251px;
  }
}
@media only screen and (min-width: 1052px) {
  /* line 30, ../sass/so-ai.scss */
  .card .header {
    height: 215px;
  }
}
/* line 41, ../sass/so-ai.scss */
.card .header .image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* line 47, ../sass/so-ai.scss */
.card .header .image:before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.3s;
}
/* line 58, ../sass/so-ai.scss */
.card .header .image:hover:before {
  opacity: 0;
}
/* line 61, ../sass/so-ai.scss */
.card .header .image > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
}
/* line 70, ../sass/so-ai.scss */
.card .header .category {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 4px 8px;
  font-size: 9.5px;
}
/* line 78, ../sass/so-ai.scss */
.card .header .date {
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
}
/* line 86, ../sass/so-ai.scss */
.card .body {
  background-color: #fff;
  padding: 5px 10px;
  height: 84px;
  overflow: hidden;
}

/* line 94, ../sass/so-ai.scss */
.sidebar-news {
  margin-bottom: 50px;
}
/* line 96, ../sass/so-ai.scss */
.sidebar-news ul {
  padding-left: 0;
  list-style: none;
  line-height: 2;
  font-weight: bold;
}
/* line 101, ../sass/so-ai.scss */
.sidebar-news ul a {
  color: #fff;
}

/* line 106, ../sass/so-ai.scss */
.sidebar-news-title {
  border-bottom: 2px solid #fff;
  padding-bottom: 7px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
